{% set uo = [] %}
{% set incarichi = [] %}
{% for item in drupal_view_result('incarichi_collegati', 'block_1', node.id) %}
  {% set incarichi = incarichi|merge([item.nid]) %}
  {% for item2 in drupal_view_result('unita_organizzative_collegate', 'block_3', item.nid) %}
    {% if item2.node__field_unita_organizzativa_field_unita_organizzativa_ta not in uo %}
      {% set uo = uo|merge([item2.node__field_unita_organizzativa_field_unita_organizzativa_ta]) %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="container" id="main-container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="cmp-breadcrumbs" role="navigation">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
              <ol data-element="breadcrumb" class="breadcrumb p-0">
                <li class="breadcrumb-item">
                  <a href="{{ url('<front>') }}">Home</a>
                  <span class="separator">/</span>
                </li>
                <li class="breadcrumb-item">
                  <a href="{{ url('<front>') }}amministrazione">Amministrazione</a>
                  <span class="separator">/</span>
                </li>
                {% set incarichi_padri = [] %}
                {% for incarico in incarichi %}
                  {% set id_tipo_incarico = drupal_field('field_tipo_di_incarico', 'node', incarico)["#items"].parent.entity.field_tipo_di_incarico.target_id %}
                  {% set id_tipo_incarico_padre = drupal_entity('taxonomy_term', id_tipo_incarico)["#taxonomy_term"].parent[0].target_id %}
                  {% set tipo_incarico_padre = drupal_entity('taxonomy_term', id_tipo_incarico_padre)["#taxonomy_term"].name.value %}
                  {% if tipo_incarico_padre not in incarichi_padri %}
                    {% set incarichi_padri = incarichi_padri|merge([tipo_incarico_padre]) %}
                  {% endif %}
                {% endfor %}
                
                {% if incarichi_padri is not empty %}
                <li class="breadcrumb-item">
                    {% for item in incarichi_padri %}
                      {% if item == "Politici" %}
                        <a href="/pollo">{{ item }}</a>
                      {% elseif item == "Personale amministrativo" %}                        
                        <a href="/persammo">{{ item }}</a>
                      {% else %}
                        Altro personale
                      {% endif %}
                      {% if not loop.last %} - {% endif %}
                    {% endfor %}
                    <span class="separator">/</span>
                </li>
                {% endif %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{label}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="cmp-heading pb-3 pb-lg-4">
        <div class="row">
          <div class="col-lg-8">
            {{ title_prefix }}
            {% if node.label %}
              <h1{{ title_attributes.addClass('title-xxxlarge') }} data-element="service-title">
                {{ node.label }}
              </h1>
            {% endif %}
            {{ title_suffix }}
            {% if content.field_descrizione_breve %}
              <div class="subtitle-small mb-3" data-element="service-description">
                {{ content.field_descrizione_breve }}
              </div>
            {% endif %}
          </div>
          <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
            {{ drupal_block("social_sharing_buttons_block") }}
            <div class="dropdown">
              <button type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0"
                aria-label="vedi azioni da compiere sulla pagina">
                <svg class="icon">
                  <use href="#it-more-items" />
                </svg>
                <small>Vedi azioni</small>
              </button>
              <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
                <div class="link-list-wrapper">
                  <ul class="link-list">
                    <li>
                      <a class="list-item" href="javascript:window.print()">
                        <svg class="icon">
                          <use href="#it-print" />
                        </svg>
                        <span>Stampa</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="#">
                        <svg class="icon">
                          <use href="#it-hearing" />
                        </svg>
                        <span>Ascolta</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="mailto:?subject={{ node.label }}&body={{ url }}"
                         target="_blank" rel="noopener">
                        <svg class="icon">
                          <use href="#it-mail" />
                        </svg>
                        <span>Invia</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-none d-lg-block mt-2">
  </div>
</div>

<div class="container">
  <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
    <div class="col-12 col-lg-3 mb-4 border-col">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll>
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                    <span class="accordion-header" id="accordion-title-one">
                      <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        INDICE DELLA PAGINA
                        <svg class="icon icon-xs right">
                          <use href="#it-expand" />
                        </svg>
                      </button>
                    </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                          {% if drupal_view_result('incarichi_collegati', 'block_1', node.id) %}
                          <li class="nav-item">
                            <a class="nav-link" href="#incarichi">
                              <span class="title-medium">Incarichi</span>
                            </a>
                          </li>
                          {% endif %}
                          
                          {% if uo is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#organizzazioni">
                              <span class="title-medium">Organizzazioni</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_competenze[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#competenze">
                              <span class="title-medium">Competenze</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_deleghe[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#deleghe">
                              <span class="title-medium">Deleghe</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_biografia[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#biografia">
                              <span class="title-medium">Biografia</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_punti_di_contatto[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#punti_di_contatto">
                              <span class="title-medium">Contatti</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_curriculum_vitae[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#curriculum_vitae">
                              <span class="title-medium">Curriculum Vitae</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_situazione_patrimoniale[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#situazione_patrimoniale">
                              <span class="title-medium">Situazione patrimoniale</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_dichiarazione_dei_redditi[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#dichiarazione_dei_redditi">
                              <span class="title-medium">Dichiarazione dei redditi</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_spese_elettorali[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#spese_elettorali">
                              <span class="title-medium">Spese elettorali</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_v_situazione_patrimoniale[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#v_situazione_patrimoniale">
                              <span class="title-medium">Variazioni situazione patrimoniale</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_altre_cariche[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#altre_cariche">
                              <span class="title-medium">Altre cariche</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_ulteriori_informazioni[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#ulteriori_informazioni">
                              <span class="title-medium">Ulteriori informazioni</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-12 col-lg-8 offset-lg-1">
      <div class="it-page-sections-container">

        {% if drupal_view_result('incarichi_collegati', 'block_1', node.id) %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="incarichi">Incarichi</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ drupal_view('incarichi_collegati', 'block_1', node.id) }}
          </div>
        </section>
        {% endif %}

        {% if uo is not empty %}
          <section class="it-page-section  mb-30">
            <h2 class="title-xxlarge mb-3" id="organizzazioni">Organizzazioni</h2>
            <div class="card-wrapper card-teaser-wrapper">
              {% for item in uo %}
                {{ drupal_entity('node', item, 'card') }}
              {% endfor %}
            </div>
          </section>
        {% endif %}

        {% if content.field_competenze[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="competenze">Competenze</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_competenze }}
          </div>
        </section>
        {% endif %}

        {% if content.field_deleghe[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="deleghe">Deleghe</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_deleghe }}
          </div>
        </section>
        {% endif %}

        {% if content.field_biografia[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="biografia">Biografia</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_biografia }}
          </div>
        </section>
        {% endif %}

        {% if content.field_punti_di_contatto[0] is not empty %}
        <section class="it-page-section mb-30">
            <h2 class="mb-3" id="punti_di_contatto">Contatti</h2>
            <div class="card-wrapper card-teaser-wrapper my-3">
              {{ content.field_punti_di_contatto }}
            </div>
        </section>
        {% endif %}

        {% if content.field_curriculum_vitae[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="curriculum_vitae">Curriculum Vitae</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_curriculum_vitae }}
          </div>
        </section>
        {% endif %}

        {% if content.field_situazione_patrimoniale[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="situazione_patrimoniale">Situazione patrimoniale</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_situazione_patrimoniale }}
          </div>
        </section>
        {% endif %}

        {% if content.field_dichiarazione_dei_redditi[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="dichiarazione_dei_redditi">Dichiarazione dei redditi</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_dichiarazione_dei_redditi }}
          </div>
        </section>
        {% endif %}

        {% if content.field_spese_elettorali[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="spese_elettorali">Spese elettorali</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_spese_elettorali }}
          </div>
        </section>
        {% endif %}

        {% if content.field_v_situazione_patrimoniale[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="v_situazione_patrimoniale">Variazioni situazione patrimoniale</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_v_situazione_patrimoniale }}
          </div>
        </section>
        {% endif %}

        {% if content.field_altre_cariche[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="altre_cariche">Altre cariche</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_altre_cariche }}
          </div>
        </section>
        {% endif %}

        {% if content.field_ulteriori_informazioni[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="more-info">Ulteriori informazioni</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_ulteriori_informazioni }}
          </div>
        </section>
        {% endif %}

      </div>
    
    </div>


  </div>
</div>