<div class="container" id="main-container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol data-element="breadcrumb" class="breadcrumb p-0">
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}">Home</a>
              <span class="separator">/</span>
            </li>
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}amministrazione">Amministrazione</a>
              <span class="separator">/</span>
            </li>
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}amministrazione/documenti-e-dati">Documenti e dati</a>
              <span class="separator">/</span>
            </li>
            {% if content.field_tipo_di_documento[0] is not empty %}
            <li class="breadcrumb-item">
              {% for item in content.field_tipo_di_documento["#items"] %}
                <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                  {{ item|view["#plain_text"]|capitalize }}
                </a>
                {% if not loop.last %} - {% endif %}
              {% endfor %}
              <span class="separator">/</span>
            </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
              {{label}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="cmp-heading pb-3 pb-lg-4">
        <div class="row">
          <div class="col-lg-8">
            {{ title_prefix }}
            {% if node.label %}
              <h1{{ title_attributes.addClass('title-xxxlarge') }} data-element="service-title">
                {{ node.label }}
              </h1>
            {% endif %}
            {{ title_suffix }}
            {% if content.field_descrizione_breve %}
              <div class="subtitle-small mb-3" data-element="service-description">
                {{ content.field_descrizione_breve }}
              </div>
            {% endif %}
            <div class="row mt-5">
              {% if content.field_data_inizio[0] is not empty %}
                <div class="col">
                  <span class="d-block text-nowrap">Data di inizio validità:</span>
                  <p class="fw-semibold text-nowrap">{% set field_data_inizio %}{{ content.field_data_inizio }}{% endset %}{{ field_data_inizio|striptags }}</p>
                </div>
              {% endif %}
              {% if content.field_data_protocollo[0] is not empty %}
                <div class="col">
                  <span class="d-block text-nowrap">Data protocollo:</span>
                  <p class="fw-semibold text-nowrap">{% set field_data_protocollo %}{{ content.field_data_protocollo }}{% endset %}{{ field_data_protocollo|striptags }}</p>
                </div>
              {% endif %}
              {% if content.field_protocollo[0] is not empty %}
                <div class="col">
                  <span class="d-block text-nowrap">Protocollo:</span>
                  <p class="fw-semibold text-nowrap">{% set field_protocollo %}{{ content.field_protocollo }}{% endset %}{{ field_protocollo|striptags }}</p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
            {{ drupal_block("social_sharing_buttons_block") }}
            <div class="dropdown">
              <button type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0"
                aria-label="vedi azioni da compiere sulla pagina"
                >
                <svg class="icon">
                  <use href="#it-more-items" />
                </svg>
                <small>Vedi azioni</small>
              </button>
              <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
                <div class="link-list-wrapper">
                  <ul class="link-list">
                    <li>
                      <a class="list-item" href="javascript:window.print()">
                        <svg class="icon">
                          <use href="#it-print" />
                        </svg>
                        <span>Stampa</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="#">
                        <svg class="icon">
                          <use href="#it-hearing" />
                        </svg>
                        <span>Ascolta</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="mailto:?subject={{ node.label }}&body={{ url }}"
                         target="_blank" rel="noopener">
                        <svg class="icon">
                          <use href="#it-mail" />
                        </svg>
                        <span>Invia</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-4 mb-4">
              {% if content.field_argomenti[0] is not empty %}
                <span class="subtitle-small">Argomenti</span>
                <div class="chip-wrapper mt-2">
                  {% for item in attribute(content.field_argomenti, "#items") %}
                    {% set arg_name = item.entity.name.value %}
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}" data-element="service-topic">
                      <div class="chip chip-simple chip-primary">
                        <span class="chip-label">{{ arg_name }}</span>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mt-4 mb-4">
              {% if content.field_tipo_di_documento[0] is not empty %}
                <span class="subtitle-small">Tipo di documento</span>
                <div class="chip-wrapper mt-2">
                  {% for item in attribute(content.field_tipo_di_documento, "#items") %}
                    {% set arg_name = item.entity.name.value %}
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                      <div class="chip chip-simple chip-primary">
                        <span class="chip-label">{{ arg_name }}</span>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mt-4 mb-4">
              {% if content.field_tipo_doc_albo_pretorio[0] is not empty %}
                <span class="subtitle-small">Tipo Documento albo pretorio</span>
                <div class="chip-wrapper mt-2">
                  {% for item in attribute(content.field_tipo_doc_albo_pretorio, "#items") %}
                    {% set arg_name = item.entity.name.value %}
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                      <div class="chip chip-simple chip-primary">
                        <span class="chip-label">{{ arg_name }}</span>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="mt-4 mb-4">
              {% if content.field_sezione_amministrazione[0] is not empty %}
                <span class="subtitle-small">Sezione amministrazione</span>
                <div class="chip-wrapper mt-2">
                  {% for item in attribute(content.field_sezione_amministrazione, "#items") %}
                    {% set arg_name = item.entity.name.value %}
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                      <div class="chip chip-simple chip-primary">
                        <span class="chip-label">{{ arg_name }}</span>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-none d-lg-block mt-2">
  </div>
</div>

<div class="container">
  <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
    <div class="col-12 col-lg-3 mb-4 border-col">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll>
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                    <span class="accordion-header" id="accordion-title-one">
                      <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        INDICE DELLA PAGINA
                        <svg class="icon icon-xs righ">
                          <use href="#it-expand" />
                        </svg>
                      </button>
                    </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                          {% if content.field_descrizione_completa[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_descrizione_completa">
                              <span class="title-medium">Descrizione</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_paragraph_documento[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_paragraph_documento">
                              <span class="title-medium">Documento</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_ufficio_respons_documento[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_ufficio_respons_documento">
                              <span class="title-medium">Ufficio responsabile del documento</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_autori[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_autori">
                              <span class="title-medium">Autore</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_formato_documento[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_formato_documento">
                              <span class="title-medium">Formato Documento</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_identificativo[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_identificativo">
                              <span class="title-medium">Identificativo del documento</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_licenza_di_distribuzione[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_licenza_di_distribuzione">
                              <span class="title-medium">Licenza di distribuzione</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if drupal_view_result('servizi_collegati', 'block_1', node.id) %}
                          <li class="nav-item">
                            <a class="nav-link" href="#servizi_collegati">
                              <span class="title-medium">Servizi collegati</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_data_inizio[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_data_inizio">
                              <span class="title-medium">Data inizio</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_data_fine[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_data_fine">
                              <span class="title-medium">Data fine</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_documenti_collegati[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_documenti_collegati">
                              <span class="title-medium">Documenti collegati</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_dataset[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_dataset">
                              <span class="title-medium">Dataset</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_riferimenti_normativi[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_riferimenti_normativi">
                              <span class="title-medium">Riferimenti normativi</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_ulteriori_informazioni[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#ulteriori-informazioni">
                              <span class="title-medium">Ulteriori informazioni</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-12 col-lg-8 offset-lg-1">
      <div class="it-page-sections-container">
        {% if content.field_descrizione_completa[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_descrizione_completa">Descrizione</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_descrizione_completa }}
          </div>
        </section>
        {% endif %}
        
        {% if content.field_paragraph_documento[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_paragraph_documento">Documento</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_paragraph_documento }}
          </div>
        </section>
        {% endif %}

        {% if content.field_ufficio_respons_documento[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_ufficio_respons_documento">Ufficio responsabile del documento</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_ufficio_respons_documento }}
          </div>
        </section>
        {% endif %}

        {% if content.field_autori[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_autori">Autore</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_autori }}
          </div>
        </section>
        {% endif %}

        {% if content.field_formato_documento[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_formato_documento">Formato Documento</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_formato_documento }}
          </div>
        </section>
        {% endif %}

        {% if content.field_identificativo[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_identificativo">Identificativo del documento</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_identificativo }}
          </div>
        </section>
        {% endif %}

        {% if content.field_licenza_di_distribuzione[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_licenza_di_distribuzione">Licenza di distribuzione</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_licenza_di_distribuzione }}
          </div>
        </section>
        {% endif %}

        {% if drupal_view_result('servizi_collegati', 'block_1', node.id) %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="servizi_collegati">Servizi collegati</h2>
          <div class="row row-cols-2 g-4">
            {{ drupal_view('servizi_collegati', 'block_1', node.id) }}
          </div>
        </section>
        {% endif %}

        {% if content.field_data_inizio[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_data_inizio">Data inizio</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_data_inizio }}
          </div>
        </section>
        {% endif %}

        {% if content.field_data_fine[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_data_fine">Data fine</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_data_fine }}
          </div>
        </section>
        {% endif %}

        {% if content.field_documenti_collegati[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_documenti_collegati">Documenti collegati</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_documenti_collegati }}
          </div>
        </section>
        {% endif %}

        {% if content.field_dataset[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_dataset">Dataset</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_dataset }}
          </div>
        </section>
        {% endif %}

        {% if content.field_riferimenti_normativi[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="field_riferimenti_normativi">Riferimenti normativi</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_riferimenti_normativi }}
          </div>
        </section>
        {% endif %}

        {% if content.field_ulteriori_informazioni[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="more-info">Ulteriori informazioni</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_ulteriori_informazioni }}
          </div>
        </section>
        {% endif %}

      </div>
    
    </div>


  </div>
</div>