<div class="container" id="main-container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <div class="cmp-breadcrumbs" role="navigation">
            <nav class="breadcrumb-container" aria-label="breadcrumb">
              <ol data-element="breadcrumb" class="breadcrumb p-0">
                <li class="breadcrumb-item">
                  <a href="{{ url('<front>') }}">Home</a>
                  <span class="separator">/</span>
                </li>
                <li class="breadcrumb-item">
                  <a href="{{ url('<front>') }}amministrazione">Amministrazione</a>
                  <span class="separator">/</span>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{label}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="cmp-heading pb-3 pb-lg-4">
        <div class="row">
          <div class="col-lg-8">
            {{ title_prefix }}
            {% if node.label %}
              <h1{{ title_attributes.addClass('title-xxxlarge') }} data-element="service-title">
                {{ node.label }}
              </h1>
            {% endif %}
            {{ title_suffix }}
            {% if content.field_persona %}
              <h2 class="h4">
                <a href="{{ path('entity.node.canonical', {'node': content.field_persona["#items"][0].target_id}) }}" class="text-decoration-none">{{ content.field_persona["#items"][0].entity.field_nome.value }} {{ content.field_persona["#items"][0].entity.field_cognome.value }}</a>
              </h2>
            {% endif %}
            <div class="row mt-5">
              {% if content.field_data_inizio_incarico[0] is not empty %}
                <div class="col">
                  <span class="d-block text-nowrap">Data inizio incarico:</span>
                  <p class="fw-semibold text-nowrap">{% set field_data_inizio_incarico %}{{ content.field_data_inizio_incarico }}{% endset %}{{ field_data_inizio_incarico|striptags }}</p>
                </div>
              {% endif %}
              {% if content.field_data_insediamento[0] is not empty %}
                <div class="col">
                  <span class="d-block text-nowrap">Data insediamento:</span>
                  <p class="fw-semibold text-nowrap">{% set field_data_insediamento %}{{ content.field_data_insediamento }}{% endset %}{{ field_data_insediamento|striptags }}</p>
                </div>
              {% endif %}
              {% if content.field_data_conclusione_incarico[0] is not empty %}
                <div class="col">
                  <span class="d-block text-nowrap">Data conclusione incarico:</span>
                  <p class="fw-semibold text-nowrap">{% set field_data_conclusione_incarico %}{{ content.field_data_conclusione_incarico }}{% endset %}{{ field_data_conclusione_incarico|striptags }}</p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 mt-5 mt-lg-0">
            {{ drupal_block("social_sharing_buttons_block") }}
            <div class="dropdown">
              <button type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0"
                aria-label="vedi azioni da compiere sulla pagina">
                <svg class="icon">
                  <use href="#it-more-items" />
                </svg>
                <small>Vedi azioni</small>
              </button>
              <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
                <div class="link-list-wrapper">
                  <ul class="link-list">
                    <li>
                      <a class="list-item" href="javascript:window.print()">
                        <svg class="icon">
                          <use href="#it-print" />
                        </svg>
                        <span>Stampa</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="#">
                        <svg class="icon">
                          <use href="#it-hearing" />
                        </svg>
                        <span>Ascolta</span>
                      </a>
                    </li>
                    <li>
                      <a class="list-item" href="mailto:?subject={{ node.label }}&body={{ url }}"
                         target="_blank" rel="noopener">
                        <svg class="icon">
                          <use href="#it-mail" />
                        </svg>
                        <span>Invia</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="mt-4 mb-4">
              {% if content.field_tipo_di_incarico[0] is not empty %}
                <span class="subtitle-small">Tipo di incarico</span>
                <div class="chip-wrapper mt-2">
                  {% for item in attribute(content.field_tipo_di_incarico, "#items") %}
                    {% set arg_name = item.entity.name.value %}
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}" data-element="service-topic">
                      <div class="chip chip-simple chip-primary">
                        <span class="chip-label">{{ arg_name }}</span>
                      </div>
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="d-none d-lg-block mt-2">
  </div>
</div>

<div class="container">
  <div class="row row-column-menu-left mt-4 mt-lg-80 pb-lg-80 pb-40">
    <div class="col-12 col-lg-3 mb-4 border-col">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll>
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                    <span class="accordion-header" id="accordion-title-one">
                      <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        INDICE DELLA PAGINA
                        <svg class="icon icon-xs right">
                          <use href="#it-expand" />
                        </svg>
                      </button>
                    </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                          {% if content.field_persona[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_persona">
                              <span class="title-medium">Incaricato</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_compensi[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_compensi">
                              <span class="title-medium">Compensi</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_importi_viaggio_servizio[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_importi_viaggio_servizio">
                              <span class="title-medium">Importi di viaggio e/o servizio</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_unita_organizzativa[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_unita_organizzativa">
                              <span class="title-medium">Unità organizzativa</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_responsabile_struttura[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_responsabile_struttura">
                              <span class="title-medium">Responsabile della struttura</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_atto_di_nomina[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#field_atto_di_nomina">
                              <span class="title-medium">Atto di nomina</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_ulteriori_informazioni[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#ulteriori-informazioni">
                              <span class="title-medium">Ulteriori informazioni</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="col-12 col-lg-8 offset-lg-1">
      <div class="it-page-sections-container">

        {% if content.field_persona[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_persona">Incaricato</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_persona }}
          </div>
        </section>
        {% endif %}

        {% if content.field_compensi[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_compensi">Compensi</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_compensi }}
          </div>
        </section>
        {% endif %}

        {% if content.field_importi_viaggio_servizio[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_importi_viaggio_servizio">Importi di viaggio e/o servizio</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_importi_viaggio_servizio }}
          </div>
        </section>
        {% endif %}

        {% if content.field_unita_organizzativa[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_unita_organizzativa">Unità organizzativa</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_unita_organizzativa }}
          </div>
        </section>
        {% endif %}

        {% if content.field_responsabile_struttura[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_responsabile_struttura">Responsabile della struttura</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_responsabile_struttura }}
          </div>
        </section>
        {% endif %}

        {% if content.field_atto_di_nomina[0] is not empty %}
        <section class="it-page-section mb-30">
          <h2 class="title-xxlarge mb-3" id="field_atto_di_nomina">Atto di nomina</h2>
          <div class="card-wrapper card-teaser-wrapper">
            {{ content.field_atto_di_nomina }}
          </div>
        </section>
        {% endif %}

        {% if content.field_ulteriori_informazioni[0] is not empty %}
        <section class="it-page-section  mb-30">
          <h2 class="title-xxlarge mb-3" id="more-info">Ulteriori informazioni</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_ulteriori_informazioni }}
          </div>
        </section>
        {% endif %}

      </div>
    
    </div>


  </div>
</div>