
{% set evento_genitore_id = content.field_evento_genitore.0['#plain_text'] ? content.field_evento_genitore.0['#plain_text'] : 'all' %}
<div class="container px-4 my-4">
  <div class="row justify-content-center">
    <div class="col-lg-12 px-lg-4 py-lg-2">
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol data-element="breadcrumb" class="breadcrumb p-0">
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}">Home</a>
              <span class="separator">/</span>
            </li>
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}vivere-il-comune">Vivere il comune</a>
              <span class="separator">/</span>
            </li>
            {% if content.field_tipo_di_evento[0] is not empty %}
            <li class="breadcrumb-item">
                {% for item in content.field_tipo_di_evento["#items"] %}
                    {{ item|view }}
                    {% if not loop.last %} - {% endif %}
                {% endfor %}
                <span class="separator">/</span>
            </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {{label}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 px-lg-4 py-lg-2">
        {{ title_prefix }}
        {% if node.label %}
          <h1{{ title_attributes }} data-audio>
              {{ node.label }}
          </h1>
        {% endif %}
        {{ title_suffix }}
        {% if content.field_data_e_orario_di_inizio[0] %}
            {% set data_inizio = content.field_data_e_orario_di_inizio['#items'].0.value %}
            {% set data_inizio = data_inizio|date('d') ~ " " ~ data_inizio|date('M')|monthEn2It(false)|lower  ~ " " ~ data_inizio|date('Y') %}
            {% set data_fine = content.field_data_e_orario_di_fine['#items'].0.value %}
            {% set data_fine = data_fine|date('d') ~ " " ~  data_fine|date('M')|monthEn2It(false)|lower  ~ " " ~ data_fine|date('Y') %}
          <h2 class="h4 py-2">dal {{ data_inizio }}
              {% if content.field_data_e_orario_di_fine[0] %}
                al {{ data_fine }}
              {% endif %}
          </h2>
        {% endif %}
        {% if content.field_descrizione_breve %}
          <p data-audio>{{ content.field_descrizione_breve }}</p>
        {% endif %}
    </div>
    <div class="col-lg-3 offset-lg-1">
        {{ drupal_block("social_sharing_buttons_block") }}

      <div class="dropdown d-inline">
        <button type="button" id="viewActions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                aria-label="vedi azioni da compiere sulla pagina"
                class="btn btn-dropdown dropdown-toggle text-decoration-underline d-inline-flex align-items-center fs-0">
            <svg class="icon">
                <use href="#it-more-items" />
            </svg>
            <small>Vedi azioni</small>{# TODO Label #}
        </button>
        <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li>
                <a class="list-item" href="javascript:window.print()">
                    <svg class="icon">
                        <use href="#it-print" />
                    </svg>
                  <span>Stampa</span>
                </a>
              </li>
              <li>
                <a class="list-item" href="#">
                    <svg class="icon">
                        <use href="#it-hearing" />
                    </svg>
                    <span>Ascolta</span>
                </a>
              </li>
              <li>
                <a class="list-item" href="mailto:?subject={{ node.label }}&body={{ url }}" target="_blank" rel="noopener"
                   title="{{ 'Invia'|t }} E-mail" aria-label="{{ 'Invia'|t }} E-mail">
                    <svg class="icon">
                        <use href="#it-mail" />
                    </svg>
                    <span>Invia</span>{# TODO Label #}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4">
        {% if content.field_argomenti[0] is not empty %}
          <span class="subtitle-small">Argomenti</span>
          <div class="chip-wrapper mt-2">
            {% for item in attribute(content.field_argomenti, "#items") %}
              {% set arg_name = item.entity.name.value %}
              <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                <div class="chip chip-simple chip-primary">
                  <span class="chip-label">{{ arg_name }}</span>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mt-4 mb-4">
        {% if content.field_tipo_di_evento[0] is not empty %}
          <span class="subtitle-small">Tipo di evento</span>
          <div class="chip-wrapper mt-2">
            {% for item in attribute(content.field_tipo_di_evento, "#items") %}
              {% set arg_name = item.entity.name.value %}
              <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                <div class="chip chip-simple chip-primary">
                  <span class="chip-label">{{ arg_name }}</span>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if content.field_immagine[0] %}
  <div class="container-fluid my-3">
    <div class="row">
      <figure class="figure px-0 img-full">
        <img src="{{ file_url(node.field_immagine.entity.field_media_image.entity.fileuri) }}" class="figure-img img-fluid"
             alt="{{ node.field_immagine.entity.field_media_image.alt }}">
        <figcaption class="figure-caption text-center pt-3">{{ node.field_immagine.entity.field_media_image.alt }}</figcaption>
      </figure>
    </div>
  </div>
{% endif %}

<div class="container">
  <div class="row border-top row-column-border row-column-menu-left">
    <aside class="col-lg-4">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll>
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                      <span class="accordion-header" id="accordion-title-one">
                        <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                          INDICE DELLA PAGINA
                            <svg class="icon icon-xs right">
                                <use href="#it-expand" />
                            </svg>
                        </button>
                      </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                            {% if content.field_descrizione_completa[0] is not empty  %}
                              <li class="nav-item">
                                <a class="nav-link" href="#cos-e">
                                  <span class="title-medium">Cos'è</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if node.field_luogo[0] is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#luogo">
                                  <span class="title-medium">Luogo</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if content.field_data_e_orario_di_inizio[0] is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#date-e-orari">
                                  <span class="title-medium">Date e orari</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if content.field_costo[0] is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#costi">
                                  <span class="title-medium">Costi</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if content.field_allegati[0] is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#allegati">
                                  <span class="title-medium">Allegati</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if drupal_view_result('appuntamenti_eventi', 'block_1', node.id, evento_genitore_id) is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#appuntamenti">
                                  <span class="title-medium">Appuntamenti</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if content.field_punti_di_contatto[0] is not empty or content.field_organizzato_da[0] is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#contatti">
                                  <span class="title-medium">Contatti</span>
                                </a>
                              </li>
                            {% endif %}
                            {% if content.field_ulteriori_informazioni[0] is not empty %}
                              <li class="nav-item">
                                <a class="nav-link" href="#ulteriori-informazioni">
                                  <span class="title-medium">Ulteriori informazioni</span>
                                </a>
                              </li>
                            {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </aside>
    <section class="col-lg-8 it-page-sections-container border-light">
        {% if content.field_descrizione_completa [0] is not empty %}
          <article id="cos-e" class="it-page-section" data-audio>
            <h2 class="title-xxlarge mb-3">Cos'è?</h2>
            <div class="font-serif">
                {{ content.field_descrizione_completa }}
            </div>
            {% if content.field_persone[0] is not empty %}
              <div class="pt-3 mb-4">
                <h2 class="title-xxlarge mb-3">Parteciperanno</h2>
                <div class="card-wrapper card-teaser-wrapper">
                  {{ content.field_persone }}
                </div>
              </div>
            {% endif %}
            {#% if content.field_galleria_immagini[0] is not empty %}
              <div class="it-carousel-wrapper it-carousel-landscape-abstract-three-cols splide" data-bs-carousel-splide="" id="splide01">
                  {{ content.field_galleria_immagini }}
              </div>
            {% endif %#}
            {#% if content.field_video_esterno %}
                {{content.field_video_esterno}}
            {% endif %#}
          </article>
        {% endif %}

        {% if content.field_a_chi_e_rivolto [0] is not empty %}
          <article id="destinatari" class="it-page-section mb-5">
            <h2 class="mb-3">A chi è rivolto</h2>
            <div class="richtext-wrapper lora">
              {{ content.field_a_chi_e_rivolto }}
            </div>
          </article>
        {% endif %}

        {% if node.field_luogo[0] is not empty %}
          <article id="luogo" class="it-page-section">
            <h2 class="mb-3">Luogo</h2>
            <div class="card-wrapper card-teaser-wrapper">
              {{ content.field_luogo }}
            </div>
              {# TODO: check map controls at https://openlayers.org/en/latest/examples/ #}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
            <script type="text/javascript">
                var lat="{{ node.field_luogo.entity.field_gps_latitude.value }}";
                var lon="{{ node.field_luogo.entity.field_gps_longitude.value }}";
                var zoom=13;
                window.addEventListener('load', (event) => {
                    map = new OpenLayers.Map ("map", {
                        controls:[
                            new OpenLayers.Control.Navigation(),
                            new OpenLayers.Control.PanZoomBar(),
                            new OpenLayers.Control.ScaleLine(),
                            new OpenLayers.Control.Permalink('permalink'),
                            new OpenLayers.Control.MousePosition(),
                            new OpenLayers.Control.Attribution()
                        ],
                        projection: new OpenLayers.Projection("EPSG:900913"),
                        displayProjection: new OpenLayers.Projection("EPSG:4326")
                    } );

                var mapnik = new OpenLayers.Layer.OSM("OpenStreetMap (Mapnik)");
                map.addLayer(mapnik);
                var lonLat = new OpenLayers.LonLat( lon ,lat )
                    .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                    );
                var markers = new OpenLayers.Layer.Markers( "Markers" );
                map.addLayer(markers);
                markers.addMarker(new OpenLayers.Marker(lonLat));
                map.setCenter (lonLat, zoom);
                });

            </script>
            <div class="map-wrapper map-column mt-4 mb-5">
              <div style="width:100%; height:476px; position: relative;" id="map" tabindex="1"></div>
            </div>
          </article>
        {% endif %}

        {% if content.field_data_e_orario_di_inizio[0] is not empty %}
          <article id="date-e-orari" class="it-page-section">
            <h2 class="mb-3">Date e orari</h2>
            <div class="point-list-wrapper my-4">
              <div class="point-list">
                <h3 class="point-list-aside point-list-primary fw-normal">
                  <div class="point-date font-monospace">{{ content.field_data_e_orario_di_inizio['#items'].0.value|date('d') }}</div>
                  <div class="point-month font-monospace">{{ content.field_data_e_orario_di_inizio['#items'].0.value|date('M')|monthEn2It }}</div>
                </h3>
                <div class="point-list-content">
                  <div class="card card-teaser shadow rounded">
                    <div class="card-body">
                      <h3 class="card-title h5 m-0">{{ content.field_data_e_orario_di_inizio['#items'].0.value|date('H:m','UTC')}} - Inizio evento </h3>
                    </div>
                  </div>
                </div>
              </div>
              {% if content.field_data_e_orario_di_fine[0] is not empty %}
                <div class="point-list">
                  <h3 class="point-list-aside point-list-primary fw-normal">
                    <div class="point-date font-monospace">{{ content.field_data_e_orario_di_fine['#items'].0.value|date('d') }}</div>
                    <div class="point-month font-monospace">{{ content.field_data_e_orario_di_fine['#items'].0.value|date('M')|monthEn2It }}</div>
                  </h3>
                  <div class="point-list-content">
                    <div class="card card-teaser shadow rounded">
                      <div class="card-body">
                        <h3 class="card-title h5 m-0">{{ content.field_data_e_orario_di_fine['#items'].0.value|date('H:m','UTC') }} - Fine evento</h3>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
              {# TODO Label #}<p class="font-serif">Per informazioni sul programma dettagliato degli appuntamenti religiosi e civili, consultare il programma nella sezione documenti.</p>
            <div class="mt-3">
                {% set inizioAnno = content.field_data_e_orario_di_inizio['#items'].0.value|date('Y') %}
                {% set inizioMese = content.field_data_e_orario_di_inizio['#items'].0.value|date('m') %}
                {% set inizioGiorno = content.field_data_e_orario_di_inizio['#items'].0.value|date('d') %}
                {% set inizioOra = content.field_data_e_orario_di_inizio['#items'].0.value|date('H') %}
                {% set inizioMinuti = content.field_data_e_orario_di_inizio['#items'].0.value|date('m') %}
                {% set fineAnno = content.field_data_e_orario_di_fine['#items'].0.value|date('Y') %}
                {% set fineMese = content.field_data_e_orario_di_fine['#items'].0.value|date('m') %}
                {% set fineGiorno = content.field_data_e_orario_di_fine['#items'].0.value|date('d') %}
                {% set fineOra = content.field_data_e_orario_di_fine['#items'].0.value|date('H') %}
                {% set fineMinuti = content.field_data_e_orario_di_fine['#items'].0.value|date('m') %}
              <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates={{ inizioAnno ~ inizioMese ~ inizioGiorno }}T{{ inizioOra ~ inizioMinuti }}00Z/{{ fineAnno ~ fineMese ~ fineGiorno }}T{{ fineOra ~ fineMinuti }}00Z&text={{ node.label|replace({' ': '%20'}) }}" target="_blank" class="btn btn-outline-primary btn-icon">
                  <svg class="icon icon-primary">
                      <use href="#it-plus-circle" />
                  </svg>
                <span>Aggiungi al calendario</span>{# TODO Label #}
              </a>
            </div>
          </article>
        {% endif %}

        {% if content.field_costo[0] is not empty %}
          <article id="costi" class="it-page-section mt-5">
            <h2 class="mb-3">Costi</h2>
              {{ content.field_costo }}
          </article>
        {% endif %}

        {% if content.field_allegati[0] is not empty %}
          <article id="allegati" class="it-page-section mt-5">
            <h2 class="mb-3">Allegati</h2>
              {{ content.field_allegati }}
          </article>
        {% endif %}

        {% if content.field_evento_genitore[0] is not empty %}
              <div class="pt-3 mb-4">
                <h2 class="title-xxlarge mb-3">Evento principale</h2>
                <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal">
                    {{ content.field_evento_genitore }}
                </div>
              </div>
        {% endif %}

        {% if drupal_view_result('appuntamenti_eventi', 'block_1', node.id, evento_genitore_id) is not empty %}
          <article id="appuntamenti" class="it-page-section mt-5">
            <h2 class="mb-3">Appuntamenti</h2>
            <div class="row row-cols-2 g-4">
              {{ drupal_view('appuntamenti_eventi', 'block_1', node.id, evento_genitore_id) }}
            </div>
          </article>
        {% endif %}

        {% if content.field_punti_di_contatto[0] is not empty or content.field_organizzato_da[0] is not empty %}
          <article id="contatti" class="it-page-section mt-5">
              <div class="card-wrapper card-column my-3">
                <div class="row">
                  {% if content.field_punti_di_contatto[0] is not empty %}
                    <div class="col-md-6">
                      <h2 class="mb-3" id="contacts">Contatti</h2>
                      {{ content.field_punti_di_contatto }}
                    </div>
                  {% endif %}
                  {% if content.field_punti_di_contatto[0] is not empty %}
                    <div class="col-md-6 mt-4 mt-md-0">
                      <h2 class="mb-3" id="contacts">Con il supporto di</h2>
                      {{ content.field_organizzato_da }}
                    </div>
                  {% endif %}
                </div>
              </div>
          </article>
        {% endif %}

      <article id="ulteriori-informazioni" class="it-page-section mb-5">
        <h2 class="mb-3">Ulteriori informazioni</h2>
          {% if content.field_patrocinato_da[0] is not empty %}
            <div class="mb-3">
              <h3 class="h5">Patrocinato da:</h3>
              <div class="link-list-wrapper">
                <ul class="link-list">
                    {{ content.field_patrocinato_da }}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if content.field_sponsor[0] is not empty %}
            <div class="mb-3">
              <h3 class="h5 ">Sponsor:</h3>
              <div class="link-list-wrapper">
                <ul class="link-list">
                    {{ content.field_sponsor }}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if content.field_ulteriori_informazioni[0] is not empty %}
            <div class="mt-4">
              <div class="callout">
                <div class="callout-title">
                    <svg class="icon">
                        <use href="#it-info-circle" />
                    </svg>
                </div>
                  {{ content.field_ulteriori_informazioni }}
              </div>
            </div>
          {% endif %}
      </article>
        {% if node.changed.value %}
          <article id="ultimo-aggiornamento" class="it-page-section mt-5">
            <h4 class="h6">Ultimo aggiornamento: <span class="h6 fw-normal">{{ node.changed.value|date("d/m/Y, H:i",'UTC') }}</span></h4>
          </article>
        {% endif %}
    </section>
  </div>
</div>


{% if display_submitted %}
  <footer>
      {{ author_picture }}
    <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
    </div>
  </footer>
{% endif %}