<div class="container px-4 my-4" id="main-container">
  {#{ drupal_block('system_breadcrumb_block') }#}
  <div class="row justify-content-center">
    <div class="col-lg-12 px-lg-4 py-lg-2">
      <div class="cmp-breadcrumbs" role="navigation">
        <nav class="breadcrumb-container" aria-label="breadcrumb">
          <ol data-element="breadcrumb" class="breadcrumb p-0">
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}">Home</a>
              <span class="separator">/</span>
            </li>
            <li class="breadcrumb-item">
              <a href="{{ url('<front>') }}novita">Novità</a>
              <span class="separator">/</span>
            </li>
            {% if content.field_tipo_di_notizia[0] is not empty %}
            <li class="breadcrumb-item">
                {% for item in content.field_tipo_di_notizia["#items"] %}
                    {{ item|view }}
                    {% if not loop.last %} - {% endif %}
                {% endfor %}
                <span class="separator">/</span>
            </li>
            {% endif %}
            <li class="breadcrumb-item active" aria-current="page">
                {{label}}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-lg-8 px-lg-4 py-lg-2">
      {% if node.label %}
        <h1{{ title_attributes }} data-audio>
          {{ node.label }}
        </h1>
      {% endif %}
      <h2 class="sr-only">Dettagli della notizia</h2>
      {% if content.field_descrizione_breve %}
        <p data-audio>{{ content.field_descrizione_breve }}</p>
      {% endif %}
      <div class="row row-cols-lg-3 row-cols-1 mt-5 mb-4">
        <div class="col">
          <small>Data:</small>
          {% if content.field_data_della_notizia %}
            {% if content.field_data_della_notizia['#items'].0.value %}
              {% set data_val = content.field_data_della_notizia['#items'].0.value %}
            {% else %}
              {% set data_val = node.getCreatedTime| date('Y-m-d') %}
            {% endif %}
            <p class="fw-semibold font-monospace">{{ data_val|date('d') }} {{ data_val|date('M')|monthEn2It(false)|lower }} {{ data_val|date('Y') }}</p>
          {% endif %}
        </div>
        {% if content.field_data_di_scadenza %}
        <div class="col">
          <small>Data scadenza:</small>
          {% set data_al = content.field_data_di_scadenza['#items'].0.value %}
          <p class="fw-semibold font-monospace">{{ data_al|date('d') }} {{ data_al|date('M')|monthEn2It(false)|lower }} {{ data_al|date('Y') }}</p>
        </div>
        {% endif %}
        <div class="col">
          <small>Tempo di lettura:</small>
          <p class="fw-semibold">{{ content.reading_time }} min</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 offset-lg-1">

      {{ drupal_block("social_sharing_buttons_block") }}

      <div class="dropdown d-inline">
        <button class="btn btn-dropdown dropdown-toggle" type="button" id="viewActions"
          data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
        >
          <svg class="icon">
            <use href="#it-more-items" />
          </svg>
          <small>Vedi azioni</small>
        </button>
        <div class="dropdown-menu shadow-lg" aria-labelledby="viewActions">
          <div class="link-list-wrapper">
            <ul class="link-list">
              <li>
                <a class="list-item" href="#">
                  <svg class="icon">
                    <use href="#it-print" />
                  </svg>
                  <span>Stampa</span>
                </a>
              </li>
              <li>
                <a class="list-item" href="#">
                  <svg class="icon">
                    <use href="#it-hearing" />
                  </svg>
                  <span>Ascolta</span>
                </a>
              </li>
              <li>
                <a class="list-item" href="#">
                  <svg class="icon">
                    <use href="#it-mail" />
                  </svg>
                  <span>Invia</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mt-4 mb-4">
        {% if content.field_argomenti[0] is not empty %}
          <span class="subtitle-small">Argomenti</span>
          <div class="chip-wrapper mt-2">
            {% for item in attribute(content.field_argomenti, "#items") %}
              {% set arg_name = item.entity.name.value %}
              <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                <div class="chip chip-simple chip-primary">
                  <span class="chip-label">{{ arg_name }}</span>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
      <div class="mt-4 mb-4">
        {% if content.field_tipo_di_notizia[0] is not empty %}
          <span class="subtitle-small">Tipo di notizia</span>
          <div class="chip-wrapper mt-2">
            {% for item in attribute(content.field_tipo_di_notizia, "#items") %}
              {% set arg_name = item.entity.name.value %}
              <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item.target_id}) }}">
                <div class="chip chip-simple chip-primary">
                  <span class="chip-label">{{ arg_name }}</span>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if node.field_immagine.0 %}
  <div class="container-fluid my-3">
    <div class="row">
      <figure class="figure px-0 img-full">
        <img src="{{ file_url(node.field_immagine.entity.field_media_image.entity.fileuri) }}"
          class="figure-img img-fluid" alt="{{ node.field_immagine.entity.field_media_image.alt }}"
        >
        <figcaption
          class="figure-caption text-center pt-3">{{ node.field_immagine.entity.field_media_image.alt }}</figcaption>
      </figure>
    </div>
  </div>
{% endif %}

<div class="container">
  <div class="row border-top row-column-border row-column-menu-left">
    <aside class="col-lg-4">
      <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
        <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="INDICE DELLA PAGINA" data-bs-navscroll>
          <div class="navbar-custom" id="navbarNavProgress">
            <div class="menu-wrapper">
              <div class="link-list-wrapper">
                <div class="accordion">
                  <div class="accordion-item">
                    <span class="accordion-header" id="accordion-title-one">
                      <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                        INDICE DELLA PAGINA
                        <svg class="icon icon-xs right">
                          <use href="#it-expand" />
                        </svg>
                      </button>
                    </span>
                    <div class="progress">
                      <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                      <div class="accordion-body">
                        <ul class="link-list" data-element="page-index">
                          {% if content.field_testo_completo_notizia[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#descrizione">
                              <span class="title-medium">Descrizione</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if node.field_documenti[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#documenti">
                              <span class="title-medium">Documenti</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if node.field_allegati[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#allegati">
                              <span class="title-medium">Allegati</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if node.field_dataset[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#dataset">
                              <span class="title-medium">Dataset</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_a_cura_di[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#a-cura-di">
                              <span class="title-medium">A cura di</span>
                            </a>
                          </li>
                          {% endif %}
                          {% if content.field_ulteriori_informazioni[0] is not empty %}
                          <li class="nav-item">
                            <a class="nav-link" href="#ulteriori-informazioni">
                              <span class="title-medium">Ulteriori informazioni</span>
                            </a>
                          </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </aside>
    <section class="col-lg-8 it-page-sections-container border-light">

      {% if content.field_testo_completo_notizia[0] is not empty %}
        <article class="it-page-section mb-30" id="descrizione">
          <h2 class="mb-3 visually-hidden">Descrizione</h2>
          <div class="richtext-wrapper lora">
            {{ content.field_testo_completo_notizia }}
          </div>
        </article>
      {% endif %}

      {% if content.field_luoghi[0] is not empty %}
        <article class="it-page-section mb-30" id="field_luoghi">
          <h2 class="mb-3">Luoghi</h2>
            <div class="container my-3">
              <div class="row row-cols-lg-2 row-cols-1 g-4">
                {{ content.field_luoghi }}
              </div>
            </div>
        </article>
      {% endif %}

      {% if content.field_documenti[0] is not empty %}
        <article class="it-page-section mt-5" id="documenti">
          <h2 class="mb-3">Documenti</h2>
          <div class="container my-3">
            <div class="row row-cols-lg-2 row-cols-1 g-4">
              {{ content.field_documenti }}
            </div>
          </div>
        </article>
      {% endif %}

      {% if content.field_allegati[0] is not empty %}
        <article id="allegati" class="it-page-section mt-5">
          <h2 class="mb-3">Allegati</h2>
          <div class="container">
            <div class="row row-cols-lg-2 row-cols-1 g-4">
              {{ content.field_allegati }}
            </div>
          </div>
        </article>
      {% endif %}

      {% if content.field_dataset[0] is not empty %}
        <article id="dataset" class="it-page-section mt-5">
          <h2 class="mb-3">Dataset</h2>
          <div class="container my-3">
            <div class="row row-cols-lg-2 row-cols-1 g-4">
              {{ content.field_dataset }}
            </div>
          </div>
        </article>
      {% endif %}

      {% if content.field_a_cura_di[0] is not empty or content.field_unita_org_responsabile[0] is not empty %}
        <article id="a-cura-di" class="it-page-section mt-5">
          <h2 class="mb-3">A cura di</h2>
          <div class="container my-3">
            <div class="row row-cols-lg-2 row-cols-1 g-4">
              {% if content.field_a_cura_di[0] is not empty %}
                <div class="col">
                  <div class="row row-cols-1 g-4">
                    {{ content.field_a_cura_di }}
                  </div>
                </div>
              {% endif %}
              {% if content.field_persone[0] is not empty %}
                <div class="col">
                  <div class="row row-cols-1 g-4">
                    {{ content.field_persone }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
      </article>
      {% endif %}

      {% if content.field_ulteriori_informazioni[0] is not empty %}
        <article id="ulteriori-informazioni" class="it-page-section mb-5">
          <h2 class="mb-3">Ulteriori informazioni</h2>
              <div class="mt-4">
                <div class="callout">
                  <div class="callout-title">
                    <svg class="icon">
                      <use href="#it-info-circle" />
                    </svg>
                  </div>
                    {{ content.field_ulteriori_informazioni }}
                </div>
              </div>
        </article>
      {% endif %}

      {% if node.changed.value %}
        <article id="ultimo-aggiornamento" class="anchor-offset mt-5">
          <h5 class="font-serif">Ultimo aggiornamento</h5>
          <p class="h6"><strong>{{ node.changed.value|date("d/m/Y, H:i",'UTC') }}</strong></p>
        </article>
      {% endif %}

    </section>
  </div>
</div>
