{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
<div class="modal fade search-modal" id="search-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content perfect-scrollbar">
      <div class="modal-body">
        <form action="{{ url('<front>') }}risultati-ricerca">
          <div class="container">
            <div class="row variable-gutters">
              <div class="col">
                <div class="modal-title">
                  <button class="search-link d-md-none" type="submit"
                    data-bs-toggle="modal" data-bs-target="#search-modal"
                    aria-label="Chiudi e torna alla pagina precedente">
                    <svg class="icon icon-md">
                      <use href="#it-arrow-left" />
                    </svg>
                  </button>
                  <h2>Cerca</h2>
                  <button class="search-link d-none d-md-block" type="button"
                    data-bs-toggle="modal" data-bs-target="#search-modal"
                    aria-label="Chiudi e torna alla pagina precedente">
                    <svg class="icon icon-md">
                      <use href="#it-close-big" />
                    </svg>
                  </button>
                </div>
                <div class="form-group autocomplete-wrapper">
                  <label for="autocomplete-two" class="visually-hidden">Cerca nel sito</label>
                  <input type="search" class="autocomplete ps-5" placeholder="Cerca nel sito" id="autocomplete-two" name="search_api_fulltext" data-bs-autocomplete="[]">
                  <span class="autocomplete-icon" aria-hidden="true">
                    <svg class="icon">
                      <use href="#it-search" />
                    </svg>
                  </span>
                  <button type="submit" class="btn btn-primary">
                    <span class="">Cerca</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="row variable-gutters">
              <div class="col-lg-5">
                <div class="searches-list-wrapper">
                  <div class="other-link-title">FORSE STAVI CERCANDO</div>
                  <ul class="searches-list">
                    {% for link in site_settings.infocomune.info_comune.field_forse_stavi_cercando %}
                      {% set field = drupal_field('title', 'node', link['target_id']) %}
                      {% set link2 = path('entity.node.canonical', {'node': link['target_id']})  %}
                      <li><a href="{{ link2 }}"
                        >{{ field["#items"][0].value }}
                      </a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<footer class="it-footer" id="footer">
  <div class="it-footer-main">
    <div class="container">
      <div class="row">
        <div class="col-12 footer-items-wrapper logo-wrapper">
          <div class="ue-logo"><span class="visually-hidden">logo Unione Europea</span></div>
          <div class="it-brand-wrapper">
            <a href="{{ url('<front>') }}">
                <img aria-hidden="true"
                     src="{{ site_settings.infocomune.info_comune.field_logo|getUrlFromMedia }}" alt="logo Comune"/>
              <div class="it-brand-text">
                <h2 class="no_toc">{{ site_settings.infocomune.info_comune.field_nome_comune }}</h2>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        {{ elements.footernavigazione }}
        {{ elements.footercontatti }}
        <div class="col-md-3 mt-md-4 footer-items-wrapper">
          <h3 class="footer-heading-title">Seguici su</h3>
          <ul class="list-inline text-start social">
            {% for social in site_settings.infocomune.info_comune.field_icone_social %}
              {{ drupal_entity('paragraph', social['target_id'], 'social_footer') }}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 footer-items-wrapper">
          {{ elements.footer }}
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="visually-hidden">{{ bit_svg|raw }}</div>