{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
    <div id="form-steps">
			<div class="container">
				<div class="cmp-info-progress d-flex d-none" data-progress="1">
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end step-active">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Luogo</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Data e orario</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Dettagli appuntamento</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Richiedente</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Riepilogo</span>
						</div>
					</div>
					<!-- Mobile -->
					<div class="iscrizioni-header d-lg-none w-100">
						<h4 class="step-title d-flex align-items-center justify-content-between drop-shadow">
							<span class="d-block d-lg-inline">
								Luogo
							</span>
							<span class="step">1/5</span>
						</h4>
						<p class="title-xsmall mt-40 mb-3">I campi contraddistinti dal simbolo asterisco sono obbligatori</p>
					</div>
				</div>
				<div class="cmp-info-progress d-flex d-none" data-progress="2">
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Luogo</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end step-active">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Data e orario</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Dettagli appuntamento</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Richiedente</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Riepilogo</span>
						</div>
					</div>
					<!-- Mobile -->
					<div class="iscrizioni-header d-lg-none w-100">
						<h4 class="step-title d-flex align-items-center justify-content-between drop-shadow">
							<span class="d-block d-lg-inline">
								Data e orario
							</span>
							<span class="step">2/5</span>
						</h4>
						<p class="title-xsmall mt-40 mb-3">I campi contraddistinti dal simbolo asterisco sono obbligatori</p>
					</div>
				</div>
				<div class="cmp-info-progress d-flex d-none" data-progress="3">
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Luogo</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Data e orario</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end step-active">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Dettagli appuntamento</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Richiedente</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Riepilogo</span>
						</div>
					</div>
					<!-- Mobile -->
					<div class="iscrizioni-header d-lg-none w-100">
						<h4 class="step-title d-flex align-items-center justify-content-between drop-shadow">
							<span class="d-block d-lg-inline">
								Dettagli appuntamento
							</span>
							<span class="step">3/5</span>
						</h4>
						<p class="title-xsmall mt-40 mb-3">I campi contraddistinti dal simbolo asterisco sono obbligatori</p>
					</div>
				</div>
				<div class="cmp-info-progress d-flex d-none" data-progress="4">
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Luogo</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Data e orario</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Dettagli appuntamento</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end step-active">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Richiedente</span>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Riepilogo</span>
						</div>
					</div>
					<!-- Mobile -->
					<div class="iscrizioni-header d-lg-none w-100">
						<h4 class="step-title d-flex align-items-center justify-content-between drop-shadow">
							<span class="d-block d-lg-inline">
								Richiedente
							</span>
							<span class="step">4/5</span>
						</h4>
						<p class="title-xsmall mt-40 mb-3">I campi contraddistinti dal simbolo asterisco sono obbligatori</p>
					</div>
				</div>
				<div class="cmp-info-progress d-flex d-none" data-progress="5">
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Luogo</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Data e orario</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Dettagli appuntamento</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end completed">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Richiedente</span>
							<svg viewbox="0 0 24 24" id="it-check" class="d-block icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path d="M9.6 16.9L4 11.4l.8-.7 4.8 4.8 8.5-8.4.7.7z"/><path fill="none" d="M0 0h24v24H0z"/>
							</svg>
						</div>
					</div>
					<!-- Desktop -->
					<div class="info-progress-wrapper d-none d-lg-flex w-100 px-3 flex-column justify-content-end step-active">
						<div class="info-progress-body d-flex justify-content-between align-self-end align-items-end w-100 py-3">
							<span class="d-block h-100 title-medium text-uppercase">Riepilogo</span>
						</div>
					</div>
					<!-- Mobile -->
					<div class="iscrizioni-header d-lg-none w-100">
						<h4 class="step-title d-flex align-items-center justify-content-between drop-shadow">
							<span class="d-block d-lg-inline">
								Verifica dei dati
							</span>
							<span class="step">5/5</span>
						</h4>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<!-- Step 1 -->
					<div class="col-12 col-lg-3 mb-4 d-none" data-index="1">
						<div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
              <nav class="navbar it-navscroll-wrapper navbar-expand-lg" data-bs-navscroll>
                <div class="navbar-custom" id="navbarNavProgress">
                  <div class="menu-wrapper">
                    <div class="link-list-wrapper">
                      <div class="accordion">
                        <div class="accordion-item">
                          <span class="accordion-header" id="accordion-title-one">
                            <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-one" aria-expanded="true" aria-controls="collapse-one">
                              INFORMAZIONI RICHIESTE
                              <svg viewBox="0 0 24 24" id="it-expand" class="icon icon-xs right" xmlns="http://www.w3.org/2000/svg"><path d="M11.6 15.4L6 9.8l.7-.8 4.9 4.9L16.5 9l.7.8z"/></svg>
                            </button>
                          </span>
                          <div class="progress">
                            <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                            <div class="accordion-body">
                              <ul class="link-list" data-element="page-index">
                                <li class="nav-item">
                                  <a class="nav-link" href="#office">
                                    <span class="title-medium">Ufficio</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
					</div>
					<!-- Step 2 -->
					<div class="col-12 col-lg-3 mb-4 d-none" data-index="2">
						<div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
              <nav class="navbar it-navscroll-wrapper navbar-expand-lg" data-bs-navscroll>
                <div class="navbar-custom" id="navbarNavProgress">
                  <div class="menu-wrapper">
                    <div class="link-list-wrapper">
                      <div class="accordion">
                        <div class="accordion-item">
                          <span class="accordion-header" id="accordion-title-one">
                            <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-two" aria-expanded="true" aria-controls="collapse-two">
                              INFORMAZIONI RICHIESTE
                              <svg viewBox="0 0 24 24" id="it-expand" class="icon icon-xs right" xmlns="http://www.w3.org/2000/svg"><path d="M11.6 15.4L6 9.8l.7-.8 4.9 4.9L16.5 9l.7.8z"/></svg>
                            </button>
                          </span>
                          <div class="progress">
                            <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div id="collapse-two" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                            <div class="accordion-body">
                              <ul class="link-list" data-element="page-index">
                                <li class="nav-item">
                                  <a class="nav-link" href="#appointment-available">
                                    <span class="title-medium">Appuntamenti disponibili</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#office-2">
                                    <span class="title-medium">Ufficio</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
					</div>
					<!-- Step 3 -->
					<div class="col-12 col-lg-3 mb-4 d-none" data-index="3">
						<div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
              <nav class="navbar it-navscroll-wrapper navbar-expand-lg" data-bs-navscroll>
                <div class="navbar-custom" id="navbarNavProgress">
                  <div class="menu-wrapper">
                    <div class="link-list-wrapper">
                      <div class="accordion">
                        <div class="accordion-item">
                          <span class="accordion-header" id="accordion-title-one">
                            <button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-three" aria-expanded="true" aria-controls="collapse-three">
                              INFORMAZIONI RICHIESTE
                              <svg viewBox="0 0 24 24" id="it-expand" class="icon icon-xs right" xmlns="http://www.w3.org/2000/svg"><path d="M11.6 15.4L6 9.8l.7-.8 4.9 4.9L16.5 9l.7.8z"/></svg>
                            </button>
                          </span>
                          <div class="progress">
                            <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <div id="collapse-three" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                            <div class="accordion-body">
                              <ul class="link-list" data-element="page-index">
                                <li class="nav-item">
                                  <a class="nav-link" href="#reason">
                                    <span class="title-medium">Motivo</span>
                                  </a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" href="#details">
                                    <span class="title-medium">Dettagli</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
					</div>
					<!-- Step 4 -->
					<div class="col-12 col-lg-3 mb-4 d-none" data-index="4">
						<aside class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
							<div class="inline-menu">
								<nav class="navbar it-navscroll-wrapper navbar-expand-lg" data-bs-navscroll>
									<div class="navbar-custom" id="navbarNavProgress">
										<div class="menu-wrapper">
											<div class="link-list-wrapper">
												<div class="accordion">
													<div class="accordion-item">
														<span class="accordion-header" id="accordion-title-one">
															<button class="accordion-button pb-10 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-four" aria-expanded="true" aria-controls="collapse-four">
																INFORMAZIONI RICHIESTE
																<svg class="icon icon-xs right">
																	<use href="../assets/bootstrap-italia/dist/svg/sprites.svg#it-expand"></use>
																</svg>
															</button>
														</span>
														<div class="progress">
															<div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
														<div id="collapse-four" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
															<div class="accordion-body">
																<ul class="link-list" data-element="page-index">
																	<li class="nav-item">
																		<a class="nav-link" href="#applicant">
																			<span class="title-medium">Richiedente</span>
																		</a>
																	</li>
																</ul>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</nav>
							</div>
						</aside>
					</div>
					<div class="col-12 col-lg-8 offset-lg-1 section-wrapper">
						<div class="steppers-content" aria-live="polite">
							{% set unita_organizzative = drupal_view_result('elenca_contenuti', 'plain_text', 'unita_organizzativa') %}
							{% set currentMonth = "now"|date('m') %}
							<div class="it-page-sections-container">
								<!-- Step 1 -->
                <section class="it-page-section active" id="office" data-steps="1">
									<div class="cmp-card">
										<div class="card has-bkg-grey shadow-sm p-big">
											<div class="card-header border-0 p-0 mb-lg-30">
												<div class="d-flex">
													<h2 class="title-xxlarge mb-0">Ufficio*</h2>
												</div>
												<p class="subtitle-small mb-0">
													Scegli l’ufficio a cui vuoi richiedere l’appuntamento
												</p>
											</div>
											<div class="card-body p-0">
												<div class="select-wrapper p-0 select-partials">
													<label for="office-choice" class="visually-hidden">Tipo di ufficio</label>
													<select id="office-choice" class="">
														<option selected="selected" value="">
															Seleziona opzione
														</option>
														{% for ufficio in unita_organizzative %}
															{% set ufficio_nome = ufficio._entity.title.0.value %}
															<option value="{{ ufficio_nome }}">{{ ufficio_nome }}</option>
														{% endfor %}
													</select>
												</div>
												<fieldset>
													<legend class="visually-hidden">Seleziona un ufficio</legend>
													<div class="cmp-info-radio radio-card" id="place-cards-wrapper"></div>
												</fieldset>
											</div>
										</div>
									</div>
								</section>

								<!-- Step 2 -->
								<section class="it-page-section d-none" id="appointment-available" data-steps="2">
									<div class="cmp-card mb-40">
										<div class="card has-bkg-grey shadow-sm p-big">
											<div class="card-header border-0 p-0 mb-lg-30">
												<div class="d-flex">
													<h2 class="title-xxlarge mb-2" id="appointment-available">
														Appuntamenti disponibili*
													</h2>
												</div>
											</div>
											<div class="card-body p-0">
												<div class="select-wrapper p-0 mt-1 select-partials">
													<label for="appointment" class="visually-hidden">Seleziona un mese</label>
													<select id="appointment" class="">
														<option selected="selected" value="">
															Seleziona un mese
														</option>
														{% for i in currentMonth..12 %}
															{# {% for i in 1..12 %} #}
															{% set interval = "+" ~ (i - currentMonth) ~ " month" %}
															{# {% set interval = "+" ~ (currentMonth) ~ " month" %} #}
															<option value="{{ i }}">{{ "now"|date_modify(interval)|date("M")|monthEn2It(false) }}</option>
														{% endfor %}
													</select>
												</div>
												<div class="cmp-card-radio-list mt-4">
													<div class="card p-3">
														<div class="card-body p-0">
															<div class="form-check m-0" id="radio-appointment">
																<fieldset>
																	<legend class="visually-hidden">Seleziona un giorno e orario</legend>
																	Nessun'appuntamento disponibile.
																</fieldset>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="cmp-card">
										<div class="card has-bkg-grey shadow-sm p-big">
											<div class="card-header border-0 p-0 mb-lg-30">
												<div class="d-flex">
													<h2 class="title-xxlarge mb-0" id="office-2">Ufficio</h2>
												</div>
											</div>
											<div class="card-body p-0" id="selected-place-card"></div>
										</div>
									</div>
								</section>

								<!-- Step 3 -->
<section class="it-page-section d-none" id="reason" data-steps="3">


									<div class="cmp-card mb-40">
										<div class="card has-bkg-grey shadow-sm p-big">
											<div class="card-header border-0 p-0 mb-lg-30 mb-3">
												<div class="d-flex">
													<h2 class="title-xxlarge mb-0" id="reason">Motivo*</h2>
												</div>
												<p class="subtitle-small mb-0">
													Scegli il motivo dell’appuntamento
												</p>
											</div>
											<div class="card-body p-0">
												<div class="select-wrapper p-0 select-partials">
													<label for="motivo-appuntamento" class="visually-hidden">Motivo dell&#x27;appuntamento</label>
													<select id="motivo-appuntamento" class=""></select>
												</div>
											</div>
										</div>
									</div>

									<div class="cmp-card">
										<div class="card has-bkg-grey shadow-sm p-big">
											<div class="card-header border-0 p-0 mb-lg-30 m-0">
												<div class="d-flex">
													<h2 class="title-xxlarge mb-0" id="details">
														Dettagli*
													</h2>
												</div>
												<p class="subtitle-small mb-0 mb-3">
													Aggiungi ulteriori dettagli
												</p>
											</div>
											<div class="card-body p-0">
												<div class="cmp-text-area p-0">
													<div class="form-group">
														<label for="form-details" class="visually-hidden">Aggiungi ulteriori dettagli</label>
														<textarea class="text-area" id="form-details" rows="2"></textarea>
														<span class="label">Inserire massimo 200 caratteri</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<!-- Step 4 -->
								<section class="it-page-section d-none" id="applicant" data-steps="4">
									<p class="subtitle-small pb-40 mb-0 d-lg-none">
										Hai un’identità digitale SPID o CIE?
										<a class="title-small-semi-bold t-primary" href="./iscrizione-graduatoria-accedere-servizio.html">Accedi</a>
									</p>
									<div class="cmp-card">
										<div class="card has-bkg-grey shadow-sm p-big">
											<div class="card-header border-0 p-0 mb-lg-30 m-0">
												<div class="d-flex">
													<h2 class="title-xxlarge mb-3" id="applicant">
														Richiedente
													</h2>
												</div>
											</div>
											<div class="card-body p-0">
												<div class="form-wrapper bg-white p-4">
													<div class="form-group cmp-input mb-0">
														<label class="cmp-input__label" for="name">Nome*</label>
														<input type="text" class="form-control" id="name" name="name" required/>
														<div class="d-flex">
															<span class="form-text cmp-input__text">
																Inserisci il tuo nome</span>
														</div>
													</div>

													<div class="form-group cmp-input mb-0">
														<label class="cmp-input__label" for="surname">Cognome*</label>
														<input type="text" class="form-control" id="surname" name="surname" required/>
														<div class="d-flex">
															<span class="form-text cmp-input__text">
																Inserisci il tuo cognome</span>
														</div>
													</div>

													<div class="form-group cmp-input mb-0">
														<label class="cmp-input__label" for="email">Email*</label>
														<input type="email" class="form-control" id="email" name="email" required/>
														<div class="d-flex">
															<span class="form-text cmp-input__text">
																Inserisci la tua email</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>

								<!-- Step 5 -->
								<section class="d-none page-step" data-steps="5">
									<div class="mt-2">
										<h2 class="visually-hidden">Dettagli dell'appuntamento</h2>
										<div class="cmp-card mb-4">
											<div class="card has-bkg-grey shadow-sm mb-0">
												<div class="card-header border-0 p-0 mb-lg-30">
													<div class="d-flex">
														<h3 class="subtitle-large mb-0">Riepilogo</h3>
													</div>
												</div>
												<div class="card-body p-0">
													<div class="cmp-info-summary bg-white mb-3 mb-lg-4 p-3 p-lg-4">
														<div class="card">
															<div class="card-header border-bottom border-light p-0 mb-0 d-flex justify-content-between d-flex justify-content-end">
																<h4 class="title-large-semi-bold mb-3">
																	Ufficio
																</h4>
																<a href="#" class="">
																	<span class="text-button-sm-semi t-primary">Modifica</span>
																</a>
															</div>

															<div class="card-body p-0">
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">
																		Tipologia ufficio
																	</div>
																	<div class="border-light">
																		<p class="data-text" id="review-office"></p>
																	</div>
																</div>
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">
																		Municipalità
																	</div>
																	<div class="border-light">
																		<p class="data-text" id="review-place"></p>
																	</div>
																</div>
															</div>
															<div class="card-footer p-0"></div>
														</div>
													</div>
													<div class="cmp-info-summary bg-white mb-3 mb-lg-4 p-3 p-lg-4">
														<div class="card">
															<div class="card-header border-bottom border-light p-0 mb-0 d-flex justify-content-between d-flex justify-content-end">
																<h4 class="title-large-semi-bold mb-3">
																	Data e orario
																</h4>
																<a href="#" class="">
																	<span class="text-button-sm-semi t-primary">Modifica</span>
																</a>
															</div>

															<div class="card-body p-0">
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Data</div>
																	<div class="border-light">
																		<p class="data-text" id="review-date"></p>
																	</div>
																</div>
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Ora</div>
																	<div class="border-light">
																		<p class="data-text" id="review-hour"></p>
																	</div>
																</div>
															</div>
															<div class="card-footer p-0"></div>
														</div>
													</div>
													<div class="cmp-info-summary bg-white mb-3 mb-lg-4 p-3 p-lg-4">
														<div class="card">
															<div class="card-header border-bottom border-light p-0 mb-0 d-flex justify-content-between d-flex justify-content-end">
																<h4 class="title-large-semi-bold mb-3">
																	Dettagli appuntamento
																</h4>
																<a href="#" class="">
																	<span class="text-button-sm-semi t-primary">Modifica</span>
																</a>
															</div>

															<div class="card-body p-0">
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Motivo</div>
																	<div class="border-light">
																		<p class="data-text" id="review-service"></p>
																	</div>
																</div>
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Dettagli</div>
																	<div class="border-light">
																		<p class="data-text" id="review-details"></p>
																	</div>
																</div>
															</div>
															<div class="card-footer p-0"></div>
														</div>
													</div>
													<div class="cmp-info-summary bg-white p-3 p-lg-4 mb-0">
														<div class="card">
															<div class="card-header border-bottom border-light p-0 mb-0 d-flex justify-content-between d-flex justify-content-end">
																<h4 class="title-large-semi-bold mb-3">
																	Richiedente
																</h4>
																<a href="#" class="">
																	<span class="text-button-sm-semi t-primary">Modifica</span>
																</a>
															</div>

															<div class="card-body p-0">
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Nome</div>
																	<div class="border-light">
																		<p class="data-text" id="review-name"></p>
																	</div>
																</div>
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Cognome</div>
																	<div class="border-light">
																		<p class="data-text" id="review-surname"></p>
																	</div>
																</div>
																<div class="single-line-info border-light">
																	<div class="text-paragraph-small">Email</div>
																	<div class="border-light">
																		<p class="data-text" id="review-email"></p>
																	</div>
																</div>
															</div>
															<div class="card-footer p-0"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</section>
							</div>
							<div class="cmp-nav-steps">
								<nav class="steppers-nav">
									<button type="button" class="btn btn-sm steppers-btn-prev p-0 btn-back-step" disabled>
                    <svg viewBox="0 0 24 24" id="it-chevron-left" xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-primary" aria-hidden="true">
                      <path d="M14.6 17.2L9 11.6 14.6 6l.8.7-4.9 4.9 4.9 4.9z"/>
                    </svg>
										<span class="text-button-sm t-primary">Indietro</span>
									</button>
									<button type="button" class="btn btn-outline-primary bg-white btn-sm steppers-btn-save d-none d-lg-block saveBtn">
										<span class="text-button-sm t-primary">Salva Richiesta</span>
									</button>
									<button type="button" class="btn btn-outline-primary bg-white btn-sm steppers-btn-save d-block d-lg-none saveBtn center">
										<span class="text-button-sm t-primary">Salva</span>
									</button>
									<button type="submit" class="btn btn-primary btn-sm steppers-btn-confirm btn-next-step" data-bs-validate="validate" disabled>
										<span class="text-button-sm">Avanti</span>
                    <svg viewBox="0 0 24 24" id="it-chevron-right" class="icon icon-white icon-sm" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                      <path d="M9.8 17.2l-.8-.7 4.9-4.9L9 6.7l.8-.7 5.6 5.6z"/>
                    </svg>
									</button>
								</nav>
								<div id="alert-message" class="alert alert-success cmp-disclaimer rounded d-none" role="alert">
									<span class="d-inline-block text-uppercase cmp-disclaimer__message">Richiesta salvata con successo</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
    <div id="final-step" class="d-none">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10">
            <div class="cmp-hero">
              <section class="it-hero-wrapper bg-white align-items-start">
                <div class="it-hero-text-wrapper pt-0 ps-0 pb-40">
                  <div class="categoryicon-top d-flex">
                    <svg viewBox="0 0 24 24" id="it-check-circle" class="icon icon-success mr-10 icon-sm mb-1" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" aria-hidden="true">
                      <path d="M17.1 7.9l.7.7-7.8 7.6-4.7-4.6.7-.7 4 3.9zM22 12A10 10 0 1112 2a10 10 0 0110 10zm-1 0a9 9 0 10-9 9 9 9 0 009-9z"/>
                      <path fill="none" d="M0 0h24v24H0z"/>
                    </svg>
                    <h1 class="text-black hero-title" data-element="page-name">
                      Appuntamento confermato
                    </h1>
                  </div>
                  <p class="titillium hero-text">
                    L’appuntamento è fissato per<strong id="date-recap"></strong>
                    <br />Abbiamo inviato il riepilogo all’email:<br />
                    <strong id="email-recap"></strong>
                  </p>
                </div>
              </section>
            </div>
          </div>
        </div>
        <hr class="d-none d-lg-block mb-40" />
      </div>
      <div class="container">
        <div class="row mb-4 mb-lg-80">
          <div class="d-none d-sm-none d-lg-block col-lg-3">
            <aside
              class="cmp-navscroll sticky-top"
              aria-labelledby="accordion-title-one"
            >
              <div class="inline-menu">
                <div class="link-list-wrapper">
                  <ul>
                    <li>
                      <a class="list-item large medium right-icon p-0 text-decoration-none" href="#collapse-final"
                        data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-final"
                      >
                    <span class="list-item-title-icon-wrapper pb-10 px-3">
                        <span
                          id="accordion-title-one"
                          class="title-xsmall-semi-bold"
                        >INDICE DELLA PAGINA</span>
                        <svg class="icon icon-xs right">
                        <use
                          href="#it-expand"
                        ></use>
                        </svg>
                    </span>
                        <!-- Progress Bar -->
                        <div class="progress bg-light">
                          <div
                            class="progress-bar"
                            role="progressbar"
                            style="width: 15%"
                            aria-valuenow="15"
                            aria-valuemin="0"
                            aria-valuemax="100"
                          ></div>
                        </div>
                      </a>
                      <ul class="link-sublist collapse show"
                        id="collapse-final"
                        data-element="index-link-list"
                      >
                        <li>
                          <a
                            class="list-item"
                            href="#needed"
                          >
                            <span class="title-medium">Cosa serve</span>
                          </a>
                        </li>
                        <li>
                          <a
                            class="list-item"
                            href="#address"
                          >
                            <span class="title-medium">Indirizzo</span>
                          </a>
                        </li>
                        <li>
                          <a
                            class="list-item"
                            href="#calendar"
                          >
                        <span class="title-medium"
                        >Aggiungi al tuo calendario</span
                        >
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
          </div>
          <div class="col-12 col-lg-8 offset-lg-1">
            <div class="cmp-card mb-50">
              <div class="card has-bkg-primary-grey p-3">
                <div class="card-header border-0 p-0 mb-lg-30">
                  <div class="d-flex">
                    <h2 class="title-xxlarge mb-0">Cosa serve</h2>
                  </div>
                </div>
                <div class="card-body p-0" id="needed">
                  <div class="cmp-ul-list">
                    <ul class="list-wrapper titillium">
                      <li>
                        <span> Documento di identità </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="address-wrapper mb-50">
              <h2 class="title-xxlarge mb-10" id="address">Indirizzo</h2>
              <div class="cmp-card-img row mx-auto">
                <div class="col-11 col-lg-6 px-0">
                  <div class="card card-teaser card-teaser-info rounded shadow-sm">
                    <div class="card-body align-items-center card-body d-flex justify-content-between">
                      <div class="left">
                        <h3 class="title-small">
                          <a href="#">Ufficio anagrafe 03</a
                          >
                        </h3>
                        <p class="subtitle-small mb-0">
                          Via Grazia Deledda 9/a - 20127<br />
                          Milano <br />
                          anagrafe@comune.it
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cmp-icon-list">
              <h2 class="title-xxlarge mt-40 mb-2 mb-lg-4" id="calendar">
                Aggiungi al tuo calendario
              </h2>
              <div class="link-list-wrapper">
                <ul class="link-list mt-3">
                  <li class="">
                    <a class="list-item icon-left t-primary title-small-semi-bold"
                      href="#"
                    >
                    <span class="list-item-title-icon-wrapper">
                      <svg viewBox="0 0 24 24" id="it-calendar" class="icon icon-sm align-self-start icon-primary icon-color" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M20.5 4H17V3h-1v1H8V3H7v1H3.5A1.5 1.5 0 002 5.5v13A1.5 1.5 0 003.5 20h17a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0020.5 4zm.5 14.5a.5.5 0 01-.5.5h-17a.5.5 0 01-.5-.5v-13a.5.5 0 01.5-.5H7v1h1V5h8v1h1V5h3.5a.5.5 0 01.5.5zM4 8h16v1H4z"/>
                        <path fill="none" d="M0 0h24v24H0z"/>
                      </svg>
                      <span class="list-item-title title-small-semi-bold fw-normal">Outlook</span>
                    </span>
                    </a>
                  </li>
                  <li class="">
                    <a class="list-item icon-left t-primary title-small-semi-bold"
                      href="#"
                    >
                    <span class="list-item-title-icon-wrapper">
                      <svg viewBox="0 0 24 24" id="it-calendar" class="icon icon-sm align-self-start icon-primary icon-color" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M20.5 4H17V3h-1v1H8V3H7v1H3.5A1.5 1.5 0 002 5.5v13A1.5 1.5 0 003.5 20h17a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0020.5 4zm.5 14.5a.5.5 0 01-.5.5h-17a.5.5 0 01-.5-.5v-13a.5.5 0 01.5-.5H7v1h1V5h8v1h1V5h3.5a.5.5 0 01.5.5zM4 8h16v1H4z"/>
                        <path fill="none" d="M0 0h24v24H0z"/>
                      </svg>
                      <span class="list-item-title title-small-semi-bold fw-normal">Google Calendar</span>
                    </span>
                    </a>
                  </li>
                  <li class="">
                    <a class="list-item icon-left t-primary title-small-semi-bold"
                      href="#"
                    >
                    <span class="list-item-title-icon-wrapper">
                      <svg viewBox="0 0 24 24" id="it-calendar" class="icon icon-sm align-self-start icon-primary icon-color" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path d="M20.5 4H17V3h-1v1H8V3H7v1H3.5A1.5 1.5 0 002 5.5v13A1.5 1.5 0 003.5 20h17a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0020.5 4zm.5 14.5a.5.5 0 01-.5.5h-17a.5.5 0 01-.5-.5v-13a.5.5 0 01.5-.5H7v1h1V5h8v1h1V5h3.5a.5.5 0 01.5.5zM4 8h16v1H4z"/>
                        <path fill="none" d="M0 0h24v24H0z"/>
                      </svg>
                    <span class="list-item-title title-small-semi-bold fw-normal">iCloud Calendar</span>
                    </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
	</div>
{% endblock paragraph %}
