{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
	<div{{attributes.addClass(classes)}}>
		{% block content %}
			<div class="container container-assistenza">
				<div id="first-step" class="row mt-lg-50">
					<div class="col-12 col-lg-3 d-lg-block mb-4 d-none">
						<aside class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
							<div class="inline-menu">
								<div class="link-list-wrapper">
									<ul class="link-list">
										<li>
											<a class="list-item large medium right-icon p-0 text-decoration-none" href="#collapse-one" data-bs-toggle="collapse" aria-expanded="true" aria-controls="collapse-one" data-focus-mouse="true" aria-label="Apri e chiudi il menù INFORMAZIONI RICHIESTE" title="Apri e chiudi il menù INFORMAZIONI RICHIESTE">
												<span class="list-item-title-icon-wrapper pb-10 px-3">
													<span id="accordion-title-one" class="title-xsmall-semi-bold">INFORMAZIONI RICHIESTE</span>
                          <svg viewBox="0 0 24 24" id="it-expand" class="icon icon-xs right" xmlns="http://www.w3.org/2000/svg"><path d="M11.6 15.4L6 9.8l.7-.8 4.9 4.9L16.5 9l.7.8z"/></svg>
												</span>
												<!-- Progress Bar -->
												<div class="progress bg-light">
													<div class="progress-bar" role="progressbar" aria-label="Progress bar dell'indice della pagina" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
											</a>
											<ul class="link-sublist collapse show" id="collapse-one" data-element="page-index">
												<li>
													<a class="list-item" href="#applicant" aria-label="Vai alla sezione Richiedente" title="Vai alla sezione Richiedente">
														<span class="title-medium">Richiedente</span>
													</a>
												</li>
												<li>
													<a class="list-item" href="#request" aria-label="Vai alla sezione Richiesta" title="Vai alla sezione Richiesta">
														<span class="title-medium">Richiesta</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</aside>
					</div>
					<div class="col-12 col-lg-8 offset-lg-1">
						<form class="steppers-content" aria-live="polite" id="justValidateForm">
							<div class="cmp-card mb-40">
								<div class="card has-bkg-grey shadow-sm p-big">
									<div class="card-header border-0 p-0 mb-lg-30">
										<div class="d-flex">
											<h2 class="title-xxlarge mb-0" id="applicant">Richiedente</h2>
										</div>
									</div>
									<div class="card-body p-0">
										<div class="form-wrapper bg-white p-4">
											<div class="form-group cmp-input mb-0">
												<label class="cmp-input__label" for="name">Nome*</label>
												<input type="text" class="form-control mt-4" id="name" name="name" required="" />
												<div class="d-flex">
													<span class="form-text cmp-input__text">Inserisci il tuo nome</span>
												</div>
											</div>
											<div class="form-group cmp-input mb-0">
												<label class="cmp-input__label" for="surname">Cognome*</label>
												<input type="text" class="form-control" id="surname" name="surname" required="" />
												<div class="d-flex">
													<span class="form-text cmp-input__text">Inserisci il tuo cognome</span>
												</div>
											</div>
											<div class="form-group cmp-input mb-0">
												<label class="cmp-input__label" for="email">Email*</label>
												<input type="email" class="form-control" id="email" name="email" required="" />
												<div class="d-flex">
													<span class="form-text cmp-input__text">Inserisci la tua email</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="cmp-card mb-40">
								<div class="card has-bkg-grey shadow-sm p-big">
									<div class="card-header border-0 p-0 mb-lg-30">
										<div class="d-flex">
											<h2 class="title-xxlarge mb-0" id="request">Richiesta</h2>
										</div>
									</div>
									<div class="card-body p-0">
										<div class="form-wrapper bg-white p-4">
											<div class="select-wrapper mb-40 mt-4 bg-transparent p-0">
												<label for="category" class="">Categoria di servizio*</label>
												<select id="category" class="bg-transparent form-control" required="">
                          {% set categorie_dei_servizi = drupal_view_result(
                            'elenca_tassonomie_per_vocabolario', 'plain_text', 'categorie_dei_servizi'
                          ) %}
													<option selected="selected" value="">Seleziona categoria</option>
                          {% for categoria in categorie_dei_servizi %}
                            {% set categoria_nome = categoria._entity.name.0.value %}
													  <option value="{{ categoria_nome }}">{{ categoria_nome }}</option>
                          {% endfor %}
												</select>
												<div class="d-flex">
													<span class="form-text cmp-input__text">
														Seleziona la categoria del servizio per cui vuoi richiedere assistenza</span>
												</div>
											</div>
											<div class="select-wrapper p-big bg-transparent p-0">
												<label for="service" class="">Servizio*</label>
												<select id="service" class="bg-transparent form-control" required="" disabled>
													<option selected="selected" value="">Scegli il servizio</option>
												</select>
												<div class="d-flex">
													<span class="form-text cmp-input__text">
														Seleziona il servizio per cui vuoi richiedere assistenza</span>
												</div>
											</div>
											<div class="cmp-text-area p-0 mt-40">
												<div class="form-group">
													<label for="description" class="d-block">Dettagli*</label>
													<textarea class="text-area form-control" id="description" rows="2" required=""></textarea>
													<span class="label">Inserire massimo 600 caratteri</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="privacy-wrapper">
								<p class="text-paragraph mb-3">Per i dettagli sul trattamento dei dati personali consulta l’
									<a href="#" class="t-primary" aria-label="Vai alla pagina dell'informativa sulla privacy" title="Vai alla pagina dell'informativa sulla privacy">informativa sulla privacy.</a>
								</p>
								<div class="form-check mb-2">
									<div class="checkbox-body d-flex align-items-center flex-wrap">
										<input type="checkbox" id="privacy" name="privacy-field" value="privacy-field" required="" />
										<label class="title-small-semi-bold pt-1 mb-0 active" for="privacy">Ho letto e compreso l’informativa sulla privacy</label>
									</div>
								</div>
							</div>
							<div class="cmp-nav-steps">
								<nav class="steppers-nav">
									<button type="button" class="btn btn-sm steppers-btn-prev p-0" aria-label="Torna indietro allo step precedente">
                    <svg viewBox="0 0 24 24" id="it-chevron-left" class="icon icon-primary icon-sm" xmlns="http://www.w3.org/2000/svg"><path d="M14.6 17.2L9 11.6 14.6 6l.8.7-4.9 4.9 4.9 4.9z"/></svg>
										<span class="text-button-sm t-primary">Indietro</span>
									</button>
									<button type="submit" class="btn btn-primary btn-sm steppers-btn-confirm send" data-bs-validate="validate" aria-label="Invia la richiesta">
										<span class="text-button-sm">Invia</span>
                    <svg viewBox="0 0 24 24" id="it-chevron-right" class="icon icon-white icon-sm" xmlns="http://www.w3.org/2000/svg"><path d="M9.8 17.2l-.8-.7 4.9-4.9L9 6.7l.8-.7 5.6 5.6z"/></svg>
									</button>
								</nav>
								<div id="alert-message" class="alert alert-success cmp-disclaimer rounded d-none" role="alert">
									<span class="d-inline-block text-uppercase cmp-disclaimer__message">Richiesta salvata con successo</span>
								</div>
							</div>
						</form>
					</div>
				</div>
        <div id="second-step" class="row justify-content-center d-none">
          <div class="col-12 col-lg-10">
            <div class="cmp-hero">
              <section class="it-hero-wrapper bg-white align-items-start">
                <div class="it-hero-text-wrapper pt-0 ps-0 pb-40 pb-lg-60">
                  <div class="categoryicon-top d-flex">
                    <svg class="icon icon-success mr-10 icon-sm mb-1" viewBox="0 0 24 24" id="it-check-circle" xmlns="http://www.w3.org/2000/svg"><path d="M17.1 7.9l.7.7-7.8 7.6-4.7-4.6.7-.7 4 3.9zM22 12A10 10 0 1112 2a10 10 0 0110 10zm-1 0a9 9 0 10-9 9 9 9 0 009-9z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
                    <h1 class="text-black hero-title" data-element="page-name">Richiesta inviata</h1>
                  </div>

                  <p class="titillium hero-text">La richiesta di assistenza è stata inviata con successo, sarai ricontattato presto.<br><br>
                    Abbiamo inviato il riepilogo all’email:<br>
                    <strong id="email-recap">giulia.bianchi@gmail.com</strong></p>
                </div>
              </section>
            </div>      </div>
        </div>
			</div>
		{% endblock %}
	</div>
{% endblock paragraph %}
