{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% if '_simple_view' in display_id %}
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    {{ header }}
  {% endif %}
  {% if attachment_before %}
    {{ attachment_before }}
  {% endif %}
  {% if rows %}
    {{ rows }}
  {% elseif empty %}
    {{ empty }}
  {% endif %}
  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    {{ attachment_after }}
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    {{ footer }}
  {% endif %}
{% else %}
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}
    {% if header %}
      <div class="view-header">
        {{ header }}
      </div>
    {% endif %}
    {% if exposed %}
      <div class="view-filters">
        {{ exposed }}
      </div>
    {% endif %}
    {% if attachment_before %}
      <div class="attachment attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if rows %}
      {% set node = rows[0]['#rows'][0]['#node'] %}
      {% if node is not empty %}
      {% set content_type = node.type.target_id %}
      <div class="card-body">
        <div class="link-list-wrapper mt-3">
          <ul class="link-list">
            {% set upper = rows[0]['#rows']|slice(0, 4) %}
            {% set lower = rows[0]['#rows']|slice(4) %}
            {% for row in upper %}
            <li>
              <a href="{{path('entity.node.canonical', {'node': row['#node'].nid.value})}}" class="list-item">
                <span>{{ row['#node'].title.value }}</span>
              </a>
            </li>
            {% endfor %}
            {% if lower %}
            <li>
              <a href="#collapse-{{ content_type }}"
                class="show-more px-0" data-bs-toggle="collapse" data-focus-mouse="false"
                aria-expanded="false" aria-controls="collapse-{{ content_type }}"
              >
                <span class="show-more d-flex align-items-center">Vedi altri {{ lower|length }}
                  <svg viewBox="0 0 24 24" id="it-expand" class="icon icon-primary icon-md" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.6 15.4L6 9.8l.7-.8 4.9 4.9L16.5 9l.7.8z"/>
                  </svg>
                </span>
              </a>
              <ul class="collapse" id="collapse-{{ content_type }}">
                {% for row in lower %}
                <li>
                  <a href="{{path('entity.node.canonical', {'node': row['#node'].nid.value})}}" class="list-item">
                    <span>{{ row['#node'].title.value }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% endif %}
    {% elseif empty %}
      <div class="view-empty">
        {{ empty }}
      </div>
    {% endif %}

    {% if pager %}
      {{ pager }}
    {% endif %}
    {% if attachment_after %}
      <div class="attachment attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}
    {% if more %}
      {{ more }}
    {% endif %}
    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
    {% endif %}
    {% if feed_icons %}
      <div class="feed-icons">
        {{ feed_icons }}
      </div>
    {% endif %}
{% endif %}
