{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}

{% if '_simple_view' in display_id %}
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    {{ header }}
  {% endif %}
  {% if attachment_before %}
    {{ attachment_before }}
  {% endif %}
  {% if rows %}
    {{ rows }}
  {% elseif empty %}
    {{ empty }}
  {% endif %}
  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    {{ attachment_after }}
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    {{ footer }}
  {% endif %}
{% else %}
    {{ title_prefix }}
    {% if title %}
      {{ title }}
    {% endif %}
    {{ title_suffix }}
    {% if header %}
      <div class="view-header">
        {{ header }}
      </div>
    {% endif %}
    {% if exposed %}
      <div class="view-filters">
        {{ exposed }}
      </div>
    {% endif %}
    {% if attachment_before %}
      <div class="attachment attachment-before">
        {{ attachment_before }}
      </div>
    {% endif %}

    {% if rows %}
        {% for row in rows[0]['#rows']%}
        <div class="col-lg-4">
          <div class="card-teaser {{ row['#node'].field_immagine[0] is not empty ? 'card-teaser-image card-flex' : '' }} rounded border border-light arguments-card">
	        {# <div class="card-teaser card-teaser-image card-flex rounded border border-light arguments-card"> #}
            <div class="card-body d-flex justify-content-between">
              <div class="teaser-content">
                {% if row['#node'].field_categoria_del_servizio[0] is not empty %}
                <div class="category-top">
                  <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': row['#node'].field_categoria_del_servizio[0].entity.tid.value}) }}"
                    class="text-decoration-none fw-semibold"
                  >
                    {{ drupal_field('name', 'taxonomy_term', row['#node'].field_categoria_del_servizio[0].value['target_id']) }}
                  </a>
                </div>
                {% endif %}
                {% if row['#node'].label %}
                <h4 class="text-paragraph-medium">
                  <a href="{{ path('entity.node.canonical', {'node': row['#node'].nid.value}) }}"
                    class="text-decoration-none"
                  >
                    {{ row['#node'].label }}
                  </a>
                </h4>
                {% endif %}
                {% if row['#node'].field_descrizione_breve[0] is not empty %}
                {% endif %}
                <p class="m-0 u-grey-light text-paragraph-card">
                  {{ row['#node'].field_descrizione_breve.value }}
                </p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    {% elseif empty %}
      <div class="view-empty">
        {{ empty }}
      </div>
    {% endif %}

    {% if pager %}
      {{ pager }}
    {% endif %}
    {% if attachment_after %}
      <div class="attachment attachment-after">
        {{ attachment_after }}
      </div>
    {% endif %}
    {% if more %}
      {{ more }}
    {% endif %}
    {% if footer %}
      <div class="view-footer">
        {{ footer }}
      </div>
    {% endif %}
    {% if feed_icons %}
      <div class="feed-icons">
        {{ feed_icons }}
      </div>
    {% endif %}
{% endif %}
