{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{# <div{{attributes.addClass(classes)}}> #}
	{{ title_prefix }}
	{% if title %}
		{{ title }}
	{% endif %}
	{{ title_suffix }}
	{% if header %}
		<div class="view-header">
			{{ header }}
		</div>
	{% endif %}
	{% if exposed %}
		<div class="view-filters">
			{{ exposed }}
		</div>
	{% endif %}
	{% if attachment_before %}
		<div class="attachment attachment-before">
			{{ attachment_before }}
		</div>
	{% endif %}

	{% if rows %}
		{# <div class="view-content"> #}
			{% for item in attribute(rows[0], "#rows") %}
			{% set term = attribute(item, "#taxonomy_term") %}
			{% if term is defined and term is not null %}
			<div class="col-12 col-md-6 col-lg-4">
				<div class="card-wrapper">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title big-heading">{{ term.name.value }}</h4>
							<div class="card-text">{{ term.description.value|raw }}</div>
							<a class="read-more"
								href="{{ path('entity.taxonomy_term.canonical', { 'taxonomy_term': term.tid.value }) }}"
							>
								<span class="text">Leggi di più</span>
								<svg viewBox="0 0 24 24" id="it-arrow-right" class="icon" xmlns="http://www.w3.org/2000/svg">
									<path d="M13.9 5.4l-.7.7 5.3 5.4H3v1h15.5l-5.3 5.4.7.7 6.6-6.6zM19 12z"/>
									<path fill="none" d="M0 0h24v24H0z"/>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		{# </div> #}


	{% elseif empty %}
		<div class="view-empty">
			{{ empty }}
		</div>
	{% endif %}

	{% if pager %}
		{{ pager }}
	{% endif %}
	{% if attachment_after %}
		<div class="attachment attachment-after">
			{{ attachment_after }}
		</div>
	{% endif %}
	{% if more %}
		{{ more }}
	{% endif %}
	{% if footer %}
		<div class="view-footer">
			{{ footer }}
		</div>
	{% endif %}
	{% if feed_icons %}
		<div class="feed-icons">
			{{ feed_icons }}
		</div>
	{% endif %}
{# </div> #}
