{% if unitaServizio is not empty %}
<div class="bg-grey-card shadow-contacts">
    <div class="container">
      <div class="row">
        <div class="col-12 pt-5">
          <div class="it-carousel-wrapper carousel-4-card splide cmp-carousel" data-bs-carousel-splide>
            <div class="it-header-block">
              <div class="it-header-block-title">
                <h2 class="text-center border-0 cmp-carousel__title pb-0 pb-0">Contenuti correlati</h2>
              </div>
            </div>
            <div class="splide__track">
              <ul class="splide__list it-carousel-all">
                <li class="splide__slide">
                  <div class="card-wrapper card-space h-100 pb-4">
                    <div class="card card-bg single-card rounded shadow-sm">
                      <div class="cmp-carousel__header">
                        <svg viewBox="0 0 24 24" id="it-pa" class="icon icon-md" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path d="M3 21h18v1H3zm0-1h18v-1H3zM22 9H2l10-7zM5.2 8h13.6L12 3.2zM6 18v-8H5v8zm4 0v-8H9v8zm5 0v-8h-1v8zm4 0v-8h-1v8z"/>
                          <path fill="none" d="M0 0h24v24H0z"/>
                        </svg>
                        <span class="ms-3 cmp-carousel__header-title">Amministrazione</span>
                      </div>
                      <div class="card-body">
                        <div class="link-list-wrapper">
                          <ul class="link-list card-body__list">

                            {% for item in unitaServizio %}
                              <li>
                                <a href="{{ path('entity.node.canonical', {'node': item.entity.nid.value}) }}"
                                   class="list-item px-0"
                                ><span>{{ item.entity.title.value }}</span>
                                </a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card-wrapper card-space h-100 pb-4">
                    <div class="card card-bg single-card rounded shadow-sm">
                      <div class="cmp-carousel__header">
                        <svg viewBox="0 0 24 24" id="it-settings" class="icon icon-md" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path d="M12 7.5a4.5 4.5 0 104.5 4.5A4.5 4.5 0 0012 7.5zm0 8a3.5 3.5 0 113.5-3.5 3.5 3.5 0 01-3.5 3.5zm9.8-1.6A12.3 12.3 0 0022 12a12.3 12.3 0 00-.2-1.9l-2.1-.3a8.7 8.7 0 00-.7-1.7l1.3-1.7a8.7 8.7 0 00-2.7-2.7L15.9 5l-1.7-.7-.3-2.1L12 2l-1.9.2-.3 2.1-1.7.7-1.7-1.3a8.7 8.7 0 00-2.7 2.7L5 8.1a8.7 8.7 0 00-.7 1.7l-2.1.3A12.3 12.3 0 002 12a12.3 12.3 0 00.2 1.9l2.1.3a8.7 8.7 0 00.7 1.7l-1.3 1.7a8.7 8.7 0 002.7 2.7L8.1 19l1.7.7.3 2.1 1.9.2 1.9-.2.3-2.1 1.7-.7 1.7 1.3a8.7 8.7 0 002.7-2.7L19 15.9a8.7 8.7 0 00.7-1.7zm-2.9-.7l-.2.7a3.9 3.9 0 01-.6 1.5l-.3.6.4.5.8 1.1a9.3 9.3 0 01-1.4 1.4l-1.1-.8-.5-.4-.6.3a3.9 3.9 0 01-1.5.6l-.7.2v.7l-.2 1.3h-2l-.2-1.3v-.7l-.7-.2a3.9 3.9 0 01-1.5-.6l-.6-.3-.5.4-1.1.8A9.3 9.3 0 015 17.6l.8-1.1.4-.5-.3-.6a3.9 3.9 0 01-.6-1.5l-.2-.7h-.7L3.1 13a3.4 3.4 0 01-.1-1 3.4 3.4 0 01.1-1l1.3-.2h.7l.2-.7a3.9 3.9 0 01.6-1.5l.3-.6-.4-.5L5 6.4 6.4 5l1.1.8.5.4.6-.3a3.9 3.9 0 011.5-.6l.7-.2v-.7l.2-1.3h2l.2 1.3v.7l.7.2a3.9 3.9 0 011.5.6l.6.3.5-.4 1.1-.8A9.3 9.3 0 0119 6.4l-.8 1.1-.4.5.3.6a3.9 3.9 0 01.6 1.5l.2.7h.7l1.3.2a3.4 3.4 0 01.1 1 3.4 3.4 0 01-.1 1l-1.3.2z"/>
                          <path fill="none" d="M0 0h24v24H0z"/>
                        </svg>
                        <span class="ms-3 cmp-carousel__header-title">Servizi</span>
                      </div>
                      {{ drupal_view('contenuti_correlati', 'block_1', 'servizio', idServizioe) }}
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card-wrapper card-space h-100 pb-4">
                    <div class="card card-bg single-card rounded shadow-sm">
                      <div class="cmp-carousel__header">
                        <svg viewBox="0 0 24 24" id="it-file" class="icon icon-md" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path d="M14.7 2H6.5A1.5 1.5 0 005 3.5v17A1.5 1.5 0 006.5 22h11a1.5 1.5 0 001.5-1.5V6.3zm.3 1.7L17.3 6h-1.8a.5.5 0 01-.5-.5zM17.5 21h-11a.5.5 0 01-.5-.5v-17a.5.5 0 01.5-.5H14v2.5A1.5 1.5 0 0015.5 7H18v13.5a.5.5 0 01-.5.5zM8 9h8v1H8zm0 2h8v1H8zm0 2h4v1H8z"/>
                          <path fill="none" d="M0 0h24v24H0z"/>
                        </svg>
                        <span class="ms-3 cmp-carousel__header-title">Documenti</span>
                      </div>
                      {{ drupal_view('contenuti_correlati', 'block_2', 'documento_pubblico', idServizio) }}
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card-wrapper card-space h-100 pb-4">
                    <div class="card card-bg single-card rounded shadow-sm">
                      <div class="cmp-carousel__header">
                        <svg viewBox="0 0 24 24" id="it-calendar" class="icon icon-md" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                          <path d="M20.5 4H17V3h-1v1H8V3H7v1H3.5A1.5 1.5 0 002 5.5v13A1.5 1.5 0 003.5 20h17a1.5 1.5 0 001.5-1.5v-13A1.5 1.5 0 0020.5 4zm.5 14.5a.5.5 0 01-.5.5h-17a.5.5 0 01-.5-.5v-13a.5.5 0 01.5-.5H7v1h1V5h8v1h1V5h3.5a.5.5 0 01.5.5zM4 8h16v1H4z"/>
                          <path fill="none" d="M0 0h24v24H0z"/>
                        </svg>
                        <span class="ms-3 cmp-carousel__header-title">Notizie</span>
                      </div>
                      {{ drupal_view('contenuti_correlati', 'block_3', 'notizia', idServizio) }}
                    </div>
                  </div>
                </li>
              </ul>
            </div>

            <span class="hr-shadow-sm d-none d-lg-block"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
